<div class="container-box-full nav-position">
    <div class="filters-menu">
        <div class="filters-menu__items">
            <ul>
                <li>
                    <a href="#">Price range</a>
                    <div class="filters-menu__dropdown filters-menu__price">
                        <form class="main-form__filters">
                            <div class="filters-menu__input-position">
                                <div class="field-wrap">
                                    <input class="form-control main-form__name-input" id="min-price" name="min-price" type="number">
                                    <label class="control-label" for="min-price">Min price</label>
                                    <span>R</span>
                                </div>
                                <div class="field-wrap">
                                    <input class="form-control main-form__name-input" id="max-price" name="max-price" type="number">
                                    <label class="control-label" for="max-price">Max price</label>
                                    <span>R</span>
                                </div>
                            </div>
                            <p>Average price in Cape Town R 19,000</p>
                            <div class="filters-menu__apply-clear">
                                <button class="filters-menu__button second-link">APPLY</button>
                            </div>
                        </form>
                    </div>
                </li>
                <li>
                    <a href="#">Apartment</a>
                    <div class="filters-menu__dropdown filters-menu__apartment">
                        <div class="filters-menu__checkbox-position">
                            {{#each global-checkbox--apart}}
                                <input class="global-checkbox" id="global-checkbox{{id}}" type="checkbox" value="value">
                                <label class="global-checkbox-label" for="global-checkbox{{for}}">{{label-name}}</label>
                                <span>{{desc-apart}}</span>
                            {{/each}}
                        </div>
                        <div class="filters-menu__apply-clear">
                            <button class="filters-menu__button second-link">APPLY</button>
                            <button class="filters-menu__button--black second-link">CLEAR</button>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#">Pet Policy</a>
                    <div class="filters-menu__dropdown filters-menu__pet">
                        <form>
                            <p>HELOOO</p>
                        </form>
                    </div>
                </li>
                <li>
                    <a href="#">Rooms & area</a>
                    <div class="filters-menu__dropdown filters-menu__price">
                        <form>
                            <p>HELOOO</p>
                        </form>
                    </div>
                </li>
                <li>
                    <a href="#">Availability & duration</a>
                    <div class="filters-menu__dropdown filters-menu__price">
                        <form>
                            <p>HELOOO</p>
                        </form>
                    </div></li>
                <li>
                    <a href="#">Features</a>
                    <div class="filters-menu__dropdown filters-menu__price">
                        <form>
                            <p>HELOOO</p>
                        </form>
                    </div>
                </li>
            </ul>
            <a class="filters-menu__send-me second-link" href="#">Send me alerts based on these filters</a>
        </div>
        <a href="#" class="open-map"><img src="images/browsing/map-black.svg" alt="map" data-number="0"></a>
    </div>
</div>

