{{#each apartment-tile}}
    <div class="apartment-tile">
        <div class="apartment-tile__slider">
            {{#each apartment-tile-img}}
                <img src="{{img}}" alt="apartments">
            {{/each}}
        </div>
        <h3>{{title}}</h3>
    </div>
{{/each}}
