<div class="paragraf">
    <div class="container">
        <div class="row">
            <div class="paragraf__box col-lg-6">
                <h3>{{title}}</h3>
                {{# each text}}
                    <p>{{desc}}</p>
                {{/each}}
                {{{button}}}
            </div>
        </div>
    </div>
</div>
