<div class="title-img">
    <div class="container">
        <div class="row {{{revers}}}">
            <div class="col-lg-6 title-img__text">
                <h3>{{title}}</h3>
                <p>{{desc}}</p>
            </div>
            <div class="col-lg-6 title-img__img d-flex justify-content-end">
                <img src="{{img}}" alt="img">
            </div>
        </div>
    </div>
</div>
