@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .button--white--border {
    padding-top: 5px;
  }
  .button--white {
    padding-top: 5px;
  }
  .button--blue {
    padding-top: 5px;
  }
  .apartment-details-blocks__description {
    margin-right: 20px;
  }
  .navigation {
    display: none !important;
  }
}
@supports (-ms-ime-align: auto) {
  .button--white--border {
    padding-top: 3px;
  }
  .button--white {
    padding-top: 3px;
  }
  .button--blue {
    padding-top: 3px;
  }
}
