.filters-menu {
  padding: 13px 0;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 99;
  justify-content: space-between;
  &:before {
    position: absolute;
    content: "";
    width: 260%;
    left: -430px;
    bottom: 0;
    height: 1px;
    background-color: #eeeef2;
  }
  &__items {
    display: flex;
    align-items: center;
    ul {
      list-style: none;
      display: flex;
      padding: 0;
      margin: 0;
      align-items: center;
      li {
        margin-right: 15px;
        position: relative;
        a {
          text-decoration: none;
          color: #666b7c;
          font-family: $roboto;
          font-size: 12px;
          font-weight: 400;
          padding: 0 20px;
          min-height: 25px;
          transition: 0.3s;
          border-radius: 2px;
          background-color: #fbfcfe;
          @include flex-center;
          &:hover {
            background-color: #1a5dc6;
            color: #fff;
          }
        }
      }
    }
  }
  &__filter-color-active {
    background-color: #1a5dc6 !important;
    color: #fff !important;
  }
  &__send-me {
    color: #1a5dc6;
    font-family: $roboto;
    font-size: 12px;
    font-weight: 500;
    width: auto;
    text-transform: none;
    padding: 0;
    &:after {
      display: none;
    }
  }
  > a {
    width: 32px;
    height: 32px;
    transition: 0.3s;
    border: 1px solid rgba(151, 151, 151, 0.2);
    @include flex-center;
    &:hover {
      border: 1px solid rgba(151, 151, 151, 0.8);
    }
  }
  &__dropdown {
    position: absolute;
    z-index: 20;
    left: 0;
    top: 30px;
    padding: 25px 30px;
    box-shadow: 0 1px 5px rgba(27, 26, 33, 0.1);
    border-radius: 1px;
    border: 1px solid rgba(225, 223, 230, 0.5);
    background-color: #fff;
    visibility: hidden;
    transition: 0.1s;
  }
  &__dropdown-active {
    visibility: visible !important;
    .irs {
      display: block;
    }
  }
  &__input-position {
    display: flex;
  }
  &__price {
    .field-wrap {
      min-width: 150px;
      &:first-child {
        margin-right: 20px;
      }
      &.is-focused {
        span {
          opacity: 1;
        }
      }
      &.has-val {
        span {
          opacity: 1;
        }
      }
      span {
        opacity: 0;
        transition: 0.2s;
        display: inline-block;
        margin-top: -27.5px;
        font-size: 14px;
        padding-left: 0;
        color: #222634;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        letter-spacing: 0.3px;
        line-height: 20px;
      }
      input {
        padding-left: 12px;
      }
    }
  }
  &__checkbox-position {
    display: flex;
    flex-direction: column;
  }
  &__apartment {
    min-width: 370px;
    span {
      color: #9ba0b5;
      font-family: $roboto;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      margin-left: 23px;
      margin-bottom: 15px;
    }
    .global-checkbox-label {
      margin-bottom: 0;
    }
  }
  &__pet {
    min-width: 370px;
  }
  &__features {
    min-width: 460px;
    .global-checkbox-label {
      min-width: 44%;
    }
    .filters-menu__checkbox-position {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  &__rooms {
    min-width: 380px;
  }
  &__rooms-position {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    p {
      color: #222634;
      font-family: $roboto;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.3px;
      line-height: 20px;
    }
  }
  &__rooms-number {
    display: flex;
    a {
      background: #fff;
      border: 1px solid rgba(151, 151, 151, 0.2);
      @include flex-center;
      &:hover {
        background: #fff !important;
        border: 1px solid rgba(151, 151, 151, 1) !important;
      }
    }
    input {
      border: none;
      outline: none;
      box-shadow: none;
      max-width: 30px;
      text-align: center;
      color: #222634;
      font-family: $roboto;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.3px;
      line-height: 20px;
      margin: 0 10px 0;
    }
  }
  &__rooms-minus {
    opacity: 1;
    width: 25px !important;
    height: 25px !important;
    padding: 0 !important;
    transition: 0s !important;
  }
  &__rooms-plus {
    width: 25px !important;
    height: 25px !important;
    padding: 0 !important;
    transition: 0s !important;
  }
  &__calendar {
    p {
      color: #9ba0b5;
      font-family: $roboto;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.3px;
      line-height: 17px;
      margin-top: 30px;
    }
    > span {
      color: #222634;
      font-family: $roboto;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.3px;
      line-height: 20px;
      position: relative;
    }
    .min-position {
      position: absolute;
      left: 45px;
      top: 143px;
    }
    .months-position {
      position: absolute;
      left: 87px;
      top: 143px;
    }
  }
  &__calendar-data {
    min-width: 350px;
    position: relative;
    &:before {
      content: url("images/global/calendar.svg");
      position: absolute;
      pointer-events: none;
      right: 0;
      top: 8px;
    }
    input {
      width: 100%;
      color: #222634;
      font-family: $roboto;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.3px;
      line-height: 20px;
      border: none;
      border-bottom: 1px solid #e1dfe6;
      outline: none;
    }
  }
  &__range-slider {
    margin-top: 40px;
    padding-left: 5px;
    position: relative;
    input {
      width: 100%;
    }
    .irs-line {
      height: 2px;
      background-color: #e9e9ee;
    }
    .irs-bar {
      height: 2px;
      background-color: #1a5dc6;
    }
    .irs-min,
    .irs-max {
      color: #222634;
      font-family: $roboto;
      font-size: 10px;
      font-weight: 500;
      background-color: #fff;
      top: 35px;
    }
    .irs {
      .irs-handle {
        position: relative;
        width: 0;
        height: 0;
        &:before {
          position: absolute;
          content: url("images/global/slider-dot.svg");
          top: -8px;
          left: -12px;
        }
      }
    }
    .irs-single {
      visibility: hidden !important;
    }
    .irs-from,
    .irs-to {
      background-color: #fff;
      color: #222634;
      font-family: $roboto;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.3px;
      line-height: 20px;
      top: -20px !important;
      visibility: visible !important;
      &:before {
        content: none;
      }
    }
    .irs-from {
      left: -10px !important;
    }
    .irs-to {
      left: 24px !important;
    }
  }
  &__apply-clear {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .main-form__filters {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 0;
    > p {
      color: #666b7c;
      font-family: $roboto;
      font-size: 10px;
      font-weight: 400;
      letter-spacing: 0.25px;
      line-height: 20px;
      margin: 20px 0 20px;
    }
  }
  &__button {
    display: inline-block;
    width: auto;
    color: #1a5dc6;
    font-size: 12px;
    letter-spacing: 0.69px;
    text-transform: uppercase;
    background: #fff;
    border: none;
    outline: none;
    padding: 0;
    @include over-extra;
    &:after {
      content: none;
      padding: 0;
    }
    &--black {
      display: inline-block;
      width: auto;
      color: #222634;
      font-size: 12px;
      letter-spacing: 0.69px;
      text-transform: uppercase;
      background: #fff;
      border: none;
      outline: none;
      padding: 0;
      @include over-extra;
      &:hover {
        color: #222634;
      }
      &:after {
        content: none;
        padding: 0;
      }
      &:before {
        background-color: #222634;
      }
    }
  }
}
.rooms-minus-disabled {
  opacity: 0.4 !important;
}
.irs {
  display: none;
}
