.title-img {
  &__block-position {
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  &__text {
    h3 {
      color: #222634;
      font-size: 42px;
      letter-spacing: -0.44px;
      line-height: 48px;
      @include over-extra;
      @media (max-width: 991px) {
        display: none;
      }
    }
    p {
      color: #666b7c;
      font-family: $roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 32px;
      @media (max-width: 767px) {
        @include title-p-767;
      }
    }
  }
  &__img {
    @media (max-width: 991px) {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    h3 {
      color: #222634;
      font-size: 42px;
      letter-spacing: -0.44px;
      line-height: 48px;
      @include over-extra;
      @media (min-width: 992px) {
        display: none;
      }
      @media (max-width: 767px) {
        @include title-h2-767;
      }
    }
    img {
      @media (max-width: 480px) {
        width: 100%;
        height: auto;
      }
    }
  }
}
