{{#each check-email}}
    <div class="check-email">
    <div class="sign-in__box-shadow"></div>
    <div class="sign-in__block">
        <div class="sign-in__first-row">
            <h3>{{{title-check-email}}}</h3>
            <div class="sign-in__close-position">
                <a href="#"></a>
            </div>
        </div>
        <div class="check-email__info">
            <p>Check your email to finish signing up. We sent a signup link to you at: <span>e.foster@gmail.com</span></p>
        </div>
        <button type="submit" class="button--blue">Resend email</button>
    </div>
</div>
{{/each}}
