{{#each company-details}}
    <div class="company-details">
    <div class="sign-in__block" id="company-details-show">
        <div class="company-details__first-row">
            <h3>{{{title-company-details}}}</h3>
            <div class="company-details__close-position">
                <a href="#"></a>
            </div>
        </div>
        <div class="company-details__info">
            <p>{{info-company-details}}</p>
        </div>
    </div>
</div>
{{/each}}
