{{#each keep-me}}
    <div class="keep-me">
    <div class="sign-in__block" id="keep-me-show">
        <div class="keep-me__first-row">
            <h3>{{{title-keep-me}}}</h3>
            <div class="keep-me__close-position">
                <a href="#"></a>
            </div>
        </div>
        <div class="keep-me__info">
            <p>Check your email daily for fresh new places. You will be able to remove alerts from <a href="#" class="second-link">notification settings.</a></p>
        </div>
        <button type="submit" class="button--blue">Keep me in the loop</button>
    </div>
</div>
{{/each}}
