{{#each read-more}}
    <div class="read-more">
    <div class="sign-in__block" id="read-more-show">
        <div class="read-more__first-row">
            <h3>{{{title-read-more}}}</h3>
            <div class="read-more__close-position">
                <a href="#"></a>
            </div>
        </div>
        <div class="read-mores__info">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, ad aspernatur at atque consectetur eaque expedita facere fugiat ipsum labore laudantium mollitia nihil odio odit perspiciatis porro rem repellendus tenetur.</p>
        </div>
    </div>
</div>
{{/each}}
