{{#each application}}
    <div class="application">
    <div class="sign-in__box-shadow"></div>
    <div class="sign-in__block">
        <div class="sign-in__first-row">
            <h3>{{{title-application}}}</h3>
            <div class="sign-in__close-position">
                <a href="#"></a>
            </div>
        </div>
    </div>
</div>
{{/each}}
