<div class="city">
    <div class="container">
        <div class="row">
            <div class="city__title wow bounceInLeft">
                <h2>Cities in Highest Demand</h2>
                <a href="#">View listings</a>
            </div>
            <div class="city__all">
                {{#each country}}
                    <a href="#" class="city__item wow fadeInUp" style="background-image: url('{{img}}')">
                        <strong>{{title}}</strong>
                        <p class="city__par1">{{desc}}</p>
                        <p class="city__par2">Discover all properties</p>
                    </a>
                {{/each}}
            </div>
        </div>
    </div>
</div>
