<div class="container-box-full nav-position">
    <div class="filters-menu">
        <div class="filters-menu__items">
            <ul>
                <li><a href="#">Price range</a></li>
                <li><a href="#">Apartment</a></li>
                <li><a href="#">Security & Rating</a></li>
                <li><a href="#">Rooms & area</a></li>
                <li><a href="#">Availability & duration</a></li>
                <li><a href="#">Features</a></li>
            </ul>
            <a class="filters-menu__send-me second-link" href="#">Send me alerts based on these filters</a>
        </div>
        <a href="#"><img src="images/global/map-logo.svg" alt="map"></a>
    </div>
</div>

