{{#each footer}}
    <footer>
        <div class="container">
            <div class="row">
                <div class="footer">
                    <div class="footer__logo">
                        <img src="{{logo}}" alt="logo">
                        <p>{{desc}}</p>
                    </div>
                    <ul class="footer__nav">
                      {{#each nav}}
                          <li><a href="{{adress}}">{{link}}</a></li>
                      {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{{/each}}
