{{#each main-search}}
    <div class="main-search" style="background-image: url('images/home/search-img.jpg')">
        <div class="container-box-full main-search__desc">
            <div class="container-box-full main-search__close-position">
                <a href="#"></a>
            </div>
            <h3>Find Your New Home</h3>
            <form class="main-search__form">
                <input placeholder="Enter City, State, Zip" type="text">
                <button type="submit">SEARCH</button>
            </form>
        </div>
    </div>
{{/each}}
