{{#each mobile-menu}}
<div class="mobile-menu">
    <div class="mobile-menu__position">
        <div class="mobile-menu__ul-position">
            <ul>
                {{#active-mobile}}
                    <li><a class="mobile-menu__link {{active}}" href="{{link}}">{{name}}{{{arr}}}</a></li>
                {{/active-mobile}}
            </ul>
        </div>
        <div class="mobile-menu__buttons">
            <a href="#" class="button--blue mobile-menu__sign-up">SIGN UP</a>
            <a href="#" class="button--white--border mobile-menu__sign-in">SIGN IN</a>
        </div>
    </div>
</div>
{{/each}}
