{{#each nav}}
    <div class="container-box-full">
        <div class="nav">
            <div class="nav__logo-nav">
                <a href="/" class="nav__logo">
                    <img src="{{logo}}" alt="logo">
                </a>
                <div class="nav__menu">
                    <ul>
                        {{#active}}
                            <li><a class="nav__link {{active}}" href="{{link}}">{{name}}</a></li>
                        {{/active}}
                    </ul>
                </div>
            </div>
            <div class="nav__button">
                <a href="#" class="nav__button--white">SIGN IN</a>
                <a href="#" class="nav__button--blue">SIGN UP</a>
            </div>
        </div>
    </div>
{{/each}}
