<div class="operation">
    <div class="container">
        <div class="row">
            <div class="operation__title wow bounceInLeft">{{{title}}}</div>
            <div class="operation__all">
                {{#each item}}
                    <div class="operation__item wow fadeIn">
                        <div class="operation__img">
                            <img src="{{img}}" alt="img">
                        </div>
                        <p>{{text}}</p>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
