<div class="question">
    <div class="container">
        <div class="row align-content-center">
            <div class="col-lg-6">
                <img src="{{img}}" alt="img">
            </div>
            <div class="col-lg-6">
                <div class="question__text-box">
                <h3 class="question__title">{{title}}</h3>
                <strong class="question__desc">Rentorr makes managing your rental property easier than ever. <span>And it’s free*</span>!</strong>
                <p class="question__text">{{text}}</p>
                <a href="#" class="button--white">Learn more</a>
            </div>
            </div>
        </div>
    </div>
</div>
