<div class="ready">
    <div class="container">
        <div class="ready__info">
            <h2 class="ready__title">{{title}}</h2>
            <p class="ready__desc">{{desc}}</p>
            <a href="#" class="nav__button--blue">SIGN UP FOR FREE</a>
        </div>
    </div>
</div>
