<div class="secure">
    <div class="line"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 images">
                <img class="size3x" src="{{img-size3x}}" alt="img">
                <img class="size1x" src="{{img-size1x}}" alt="img">
            </div>
            <div class="col-lg-5 offset-lg-2">
                <div class="secure__title">
                    <h2>{{title}}</h2>
                    <ul>
                        {{#each list-box}}
                            <li>{{list}}</li>
                        {{/each}}
                    </ul>
                </div>
                <div class="secure__button">
                    <a href="#" class="button--blue">Get started</a>
                    <a href="#" class="button--white--border">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</div>
