<div class="what">
    <div class="container">
        <div class="what__title">
            <h2 class="what__title">{{title}}</h2>
            <p class="what__desc">{{desc}}</p>
        </div>
        <div class="what__video play">
            <video width="100%" id="video" poster="images/Video.jpg" data-src="images/test.mp4" muted="" webkit-playsinline="" playsinline="" src="images/test.mp4" data-was-processed="true">
                <!--Sources is appended by JS because Chrome do not support HTML5 video media queries-->
                <source type="images/mp4" data-src="images/test.mp4" src="images/test.mp4"></video>
        </div>
    </div>
</div>
