.apartment-details {
  .nav {
    padding: 16px 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 99;
  }
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 30%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #fff;
    height: 100vh;
    width: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    top: -200%;
    position: absolute;
    z-index: 5;
  }
  .mobile-menu.active-menu {
    top: 0;
    z-index: 999;
  }
  .container_mobile {
    max-width: 910px;
    padding: 0;
    //padding: 0 15px;
    margin: auto;
    @include media-breakpoint-down(md) {
      //max-width: 285px;
    }
  }
  p {
    font-family: $roboto;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.1px;
    line-height: 24px;
  }
  .map-font {
    color: #9ba0b5;
    font-family: $roboto;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.08px;
  }
  .header {
    position: absolute;
  }
  .navigation {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    position: fixed;
    color: transparent;
    background-color: transparent;
    width: 100%;
    height: 70px;
    transform: translateY(-100%);
    z-index: 0;
    .div {
      display: flex;
      justify-content: space-around;
      margin: auto;
      padding-left: 10%;
      .button--blue {
        width: 250px;
        height: 36px;
        margin-right: 20px;
      }
      .button--white {
        border: 2px solid rgba(183, 184, 199, 0.25);
      }
    }
    .div_price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        margin-top: 3px;
        @include media-breakpoint-down(md) {
          margin: auto;
        }
      }
    }
    h1 {
      display: inline-block;
      color: #222634;
      @include over-extra;
      font-size: 24px;
      font-weight: 900;
      margin: auto;
      @include media-breakpoint-down(md) {
        font-size: 16px;
      }
    }
    &--relative {
      position: relative;
      top: -30px;
      transform: translateY(0%);
    }
    .navigation__title {
      height: 70px;
      display: flex;
      @include media-breakpoint-up(md) {
        overflow: hidden;
      }
      @include media-breakpoint-down(sm) {
        display: flex;
        flex-direction: column;
        overflow: hidden;
      }
    }
    &.is-fixed {
      position: fixed;
      width: 100%;
      height: 70px;
      background-color: #fff;
      top: 0;
      transform: translateY(0%);
      z-index: 9999;
      border-bottom: 1px solid #eeeff3;
      text-align: center;
      align-content: center;
      transition: all 0.5s ease;
    }
  }
  &-header {
    &__slider {
      display: flex;
      justify-content: center;
    }
    &__position-in-header {
      @include media-breakpoint-up(lg) {
        display: none;
      }
      .container_mobile {
        display: flex;
        justify-content: center;
        //max-width: 285px;
        padding: 0 15px;
        margin: auto;
        .button--blue {
          margin: 20px 0;
          width: 80px;
          height: 20px;
        }
      }
      display: flex;
      flex-direction: column;
      .apartment-tile {
        width: 344px;
        height: auto;
        box-shadow: none !important;
        margin: 7px;
        position: relative;
        &__checkbox-position {
          display: none;
          position: absolute;
        }
        &__checkbox {
          display: none;
          position: absolute;
          opacity: 0;
          & + label {
            position: relative;
            margin-left: 30px;
            cursor: pointer;
            padding: 0;
            transition: 0.3s;
          }
          & + label:before {
            content: url("images/global/heart-white.svg");
            position: absolute;
            display: inline-block;
            top: 27px;
            left: -10px;
            z-index: 20;
          }
          &:checked + label:before {
            content: url("images/global/heart-red.svg");
          }
        }
        &__slider {
          display: flex;
          justify-content: center;
          width: 100%;
          height: 250px;
          margin: 0 !important;
          &:hover {
            .slick-next,
            .slick-prev {
              opacity: 1;
            }
            .slick-dots {
              li.slick-active {
                button {
                  &:before {
                    opacity: 1 !important;
                  }
                }
              }
              li {
                button {
                  &:before {
                    opacity: 1 !important;
                  }
                }
              }
            }
          }
          img {
            max-width: 100%;
            //width: 204px;
            //height: 310px;
            height: 100%;
          }
        }
        &__zar-box {
          display: none;
          //display: flex;
          position: absolute;
          width: 90px;
          height: 48px;
          background-color: #3b3f4e;
          right: 0;
          top: -245px;
          padding: 10px 6px;
          flex-direction: column;
          justify-content: flex-end;
          span {
            color: #fff;
            font-size: 12px;
            letter-spacing: -0.09px;
            @include over-extra;
            &:first-child {
              opacity: 0.5;
              color: #fff;
              font-family: $roboto;
              font-size: 10px;
              font-weight: 400;
              letter-spacing: -0.31px;
              text-transform: uppercase;
            }
          }
        }
        &__desc-position {
          display: none;
          position: relative;
          //padding: 20px 24px 22px;
          padding: 20px 24px 0;
          h3 {
            color: #222634;
            margin: 0;
            @include over-extra;
            font-size: 14px;
            font-weight: 700;
            line-height: 16px;
          }
        }
        &__desc {
          display: none;
          //display: flex;
          justify-content: space-between;
          align-items: center;
        }
        &__verification-position {
          display: none;
          //display: flex;
          align-items: center;
        }
        &__verification {
          display: none;
          font-family: "Source Sans Pro", sans-serif;
          color: #fff;
          font-size: 11px;
          font-weight: 800;
          letter-spacing: 0.05px;
          text-transform: uppercase;
          padding: 4px;
        }
        &__blue {
          background-color: #1a5dc6;
        }
        &__orange {
          background-color: #ff8364;
        }
        &__gray {
          background-color: #9ba0b5;
        }
        &__desc-apart {
          display: none;
          color: #222634;
          font-family: $roboto;
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 0.06px;
          margin-left: 40px;
          position: relative;
          &:before {
            position: absolute;
            content: url("images/global/browsing-dot.svg");
            width: 16px;
            height: 9px;
            left: -24px;
            right: auto;
            top: 6px;
          }
        }
        &__rating-position {
          display: none;
          //display: flex;
          align-items: baseline;
          img {
            display: none;
          }
        }
        &__rating {
          display: none;
          color: #666b7c;
          font-family: $roboto;
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 0.06px;
          margin: 0 5px;
        }
        &__review {
          display: none;
          color: #1a5dc6;
          font-family: $roboto;
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 0.06px;
        }
        &__new-label {
          display: none;
          color: #ff7e42;
          font-size: 12px;
          letter-spacing: 0.4px;
          text-transform: uppercase;
          @include over-extra;
        }
        &__adress {
          font-family: $roboto;
          margin-top: 3px;
          color: #9ba0b5;
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 0.08px;
          position: relative;
          &:before {
            position: absolute;
            content: url("/images/global/target_black.svg");
            width: 16px;
            height: 18px;
            left: -24px;
            right: auto;
            top: 6px;
          }
        }
        &__details {
          display: none;
          //display: flex;
          margin-top: 15px;
          span {
            color: #666b7c;
            font-family: $roboto;
            font-size: 14px;
            font-weight: 400;
            margin-left: 45px;
            &:first-child {
              margin-left: 25px;
            }
          }
        }
        &__details-sofa {
          display: none;
          position: relative;
          &:before {
            position: absolute;
            content: url("images/global/sofa.svg");
            width: 16px;
            height: 9px;
            left: -24px;
            right: auto;
            top: 6px;
          }
        }
        &__details-bath {
          display: none;
          position: relative;
          &:before {
            position: absolute;
            content: url("images/global/bath.svg");
            width: 16px;
            height: 8px;
            left: -24px;
            right: auto;
            top: 6px;
          }
        }
        &__details-square {
          display: none;
          position: relative;
          &:before {
            position: absolute;
            content: url("images/global/square.svg");
            width: 24px;
            height: 24px;
            left: -24px;
            right: auto;
            top: 4px;
          }
        }
      }
      .slick-next {
        right: 0;
        z-index: 9;
        &:before {
          content: url("images/global/slick-next.svg") !important;
        }
      }
      .slick-prev {
        left: 0;
        z-index: 9;
        &:before {
          content: url("images/global/slick-prev.svg") !important;
        }
      }
      .slick-next,
      .slick-prev {
        width: 40px;
        transition: 0.3s;
        opacity: 0;
        height: 100%;
        background-color: rgba(59, 63, 78, 0.13);
        @include flex-center;
        &:hover {
          background-color: rgba(59, 63, 78, 0.13);
        }
      }
      .slick-dots {
        li.slick-active {
          button {
            position: relative;
            &:before {
              content: url("images/global/dot-active-slider.svg") !important;
              position: absolute;
              top: -20px;
              left: 0;
              width: 20px;
              height: 20px;
              opacity: 0;
            }
          }
        }
        li {
          button {
            position: relative;
            &:before {
              content: url("images/global/dot-slider.svg");
              position: absolute;
              top: -20px;
              left: 0;
              width: 20px;
              height: 20px;
              opacity: 0;
            }
          }
        }
      }
    }
    .container_max {
      max-width: 910px;
      padding: 0;
      //padding: 0 15px;
      margin: auto;
    }
    &__bcground {
      height: 536px;
      background-position: center;
      background-size: cover;
      position: relative;
      @include media-breakpoint-down(md) {
        display: none;
      }
      h1 {
        width: 478px;
        height: 85px;
        color: #fff;
        @include over-extra;
        font-size: 46px;
        font-weight: 900;
        line-height: 45px;
        margin-bottom: 21px;
      }
      .arrow-back {
        position: absolute;
        top: 26px;
        left: 50px;
      }
    }
    &__title-mobile {
      .target {
        width: 259px;
        height: 17px;
        color: #fff;
        font-family: $roboto;
        font-size: 14px;
        font-weight: 400;
        position: relative;
        padding-left: 20px;
        margin-bottom: 15px;
        &:before {
          position: absolute;
          left: 0;
          top: 0;
          content: url("../../images/apartment-details/target.svg");
          font-size: 20px;
        }
      }
      .row-statist {
        width: 300px;
        position: relative;
        display: flex;
        justify-content: space-between;
        margin: auto;
        p {
          color: #666b7c;
          font-family: $roboto;
          font-size: 14px;
          font-weight: 400;
          padding-left: 25px;
          position: relative;
          &:before {
            width: 12px;
            height: 12px;
            position: absolute;
            left: 0;
          }
        }
        .bed {
          &:before {
            top: 9px;
            content: url("images/global/sofa.svg");
          }
        }
        .bath {
          &:before {
            top: 11px;
            content: url("images/global/bath.svg");
          }
        }
        .size {
          &:before {
            top: 8px;
            content: url("images/global/square.svg");
          }
        }
        .bild {
          //right: 2px;
          &:before {
            top: 7px;
            content: url("images/global/home_black.svg");
          }
        }
      }
    }
    &__title {
      padding-top: 290px;
      padding-bottom: 53px;
      position: relative;
      @include media-breakpoint-down(md) {
        padding-top: 400px;
      }
      .button--blue {
        margin-bottom: 7px;
        @include media-breakpoint-down(md) {
          margin: 20px 0;
          width: 80px;
          height: 20px;
        }
      }
      .target {
        width: 259px;
        height: 17px;
        color: #fff;
        font-family: $roboto;
        font-size: 14px;
        font-weight: 400;
        position: relative;
        padding-left: 20px;
        margin-bottom: 15px;
        &:before {
          position: absolute;
          left: 0;
          top: 0;
          content: url("../../images/apartment-details/target.svg");
          font-size: 20px;
        }
      }
      .row-statist {
        width: 300px;
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-top: 11px;
        p {
          color: #fff;
          font-family: $roboto;
          font-size: 14px;
          font-weight: 400;
          padding-left: 25px;
          position: relative;
          &:before {
            width: 12px;
            height: 12px;
            position: absolute;
            left: 0;
            //top: auto;
          }
        }
        .bed {
          &:before {
            top: 9px;
            content: url("images/apartment-details/bed.svg");
          }
        }
        .bath {
          &:before {
            top: 11px;
            content: url("images/apartment-details/bath.svg");
          }
        }
        .size {
          &:before {
            top: 8px;
            content: url("images/apartment-details/size.svg");
          }
        }
        .bild {
          //right: 2px;
          &:before {
            top: 7px;
            content: url("images/apartment-details/bild.svg");
          }
        }
      }
    }
    &__gallery {
      position: absolute;
      right: -500px;
      bottom: 70px;
      height: 92px;
      width: 450px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include media-breakpoint-down(md) {
        display: none;
      }
      .gallery-img {
        position: relative;
        .plus {
          position: absolute;
          color: #fff;
          font-family: $roboto;
          font-size: 22px;
          font-weight: 500;
          line-height: 40px;
          right: 55px;
          top: -10px;
          z-index: 999;
        }
        a {
          margin-left: 5px;
          position: relative;
          &:nth-child(3) {
            &:after {
              content: attr(data-count);
              //content: url("image/apartment-details/Fade.png");
              color: #fff;
              font-size: 20px;
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              top: 0;
              //right: 50%;
              bottom: 0;
              z-index: 99;
              -webkit-transition: 0.3s;
              transition: 0.3s;
              //background: rgba(0, 0, 0, 0.5);
            }
            &:before {
              content: url("images/apartment-details/Fade.png");
              position: absolute;
              left: 0;
              top: -35px;
              bottom: 0;
              z-index: 99;
              -webkit-transition: 0.3s;
              transition: 0.3s;
            }
          }
          &:nth-child(2) {
            &:before {
              content: url("images/apartment-details/Fade.png");
              position: absolute;
              left: 0;
              top: -35px;
              bottom: 0;
              z-index: 99;
              -webkit-transition: 0.3s;
              transition: 0.3s;
            }
          }
        }
        .ingallery {
          position: absolute;
          right: 55px;
          top: 25px;
          z-index: 99;
          width: 25px;
          height: 40px;
          color: #fff;
          font-family: $roboto;
          font-size: 22px;
          font-weight: 500;
          line-height: 40px;
          border: 2px solid red;
        }
      }
    }
  }
  &-blocks {
    padding-bottom: 120px;
    @include media-breakpoint-down(md) {
      padding-bottom: 70px;
    }
    &__buttons-on-map {
      height: 200px;
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
    position: relative;
    &__checkbox-position {
      position: absolute;
    }
    &__checkbox {
      position: absolute;
      opacity: 0;
      //top: 0;
      //left: 190px;
      & + label {
        position: relative;
        margin-left: 30px;
        cursor: pointer;
        padding: 0;
        transition: 0.3s;
      }
      & + label:before {
        content: url("images/global/heart-white.svg");
        position: absolute;
        display: inline-block;
        top: 0;
        left: 190px;
        z-index: 20;
      }
      &:checked + label:before {
        content: url("images/global/heart-red.svg");
      }
    }
    .apartment-tile {
      ////position: relative;
      //&__checkbox-position {
      //  position: absolute;
      //}
      //&__checkbox {
      //  //position: absolute;
      //  opacity: 0;
      //  & + label {
      //    position: relative;
      //    margin-left: 30px;
      //    cursor: pointer;
      //    padding: 0;
      //    transition: 0.3s;
      //  }
      //  & + label:before {
      //    content: url("images/global/heart-white.svg");
      //    position: absolute;
      //    display: inline-block;
      //    top: 27px;
      //    left: -10px;
      //    z-index: 20;
      //  }
      //  &:checked + label:before {
      //    content: url("images/global/heart-red.svg");
      //  }
      //}
    }
    .container {
      max-width: 910px;
      padding: 0;
      margin: auto;
      h3 {
        max-width: 340px;
        //width: 77px;
        height: 24px;
        color: #222634;
        @include over-extra;
        font-size: 16px;
        font-weight: 800;
      }
      &_mobile {
        @include media-breakpoint-down(md) {
          //max-width: 285px;
        }
      }
    }
    &__features {
      display: flex;
      justify-content: space-between;
      @include media-breakpoint-down(md) {
        //max-width: 285px;
        flex-direction: column-reverse;
        align-items: center;
      }
      .features-img {
        display: flex;
        justify-content: space-between;
        @include media-breakpoint-down(md) {
          flex-wrap: wrap;
          justify-content: flex-start;
          padding-right: 0;
        }
      }
      .features-img-text {
        display: flex;
        flex-direction: column;
        height: 125px;
        @include media-breakpoint-down(md) {
          margin-top: 20px;
          margin-right: 15px;
        }
        .images {
          width: 72px;
          height: 72px;
          display: flex;
          justify-content: center;
          border: 1px solid #f3f3f4;
        }
        .symbol {
          padding-top: 11px;
          text-align: center;
          width: 72px;
          color: #666b7c;
          font-family: $roboto;
          font-size: 14px;
          font-weight: 500;
          line-height: 16px;
        }
      }
      .message {
        display: flex;
        justify-content: space-between;
        @include media-breakpoint-down(md) {
          //max-width: 285px;
          flex-wrap: wrap;
          text-align: center;
          align-items: center;
        }
        p {
          font-family: $roboto;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: -0.1px;
          line-height: 24px;
          @include media-breakpoint-down(md) {
            text-align: center;
            align-items: center;
          }
        }
        &-text {
          //min-width: 330px;
          @include media-breakpoint-down(md) {
            width: 100%;
            //max-width: 285px;
            //text-align: center;
            //align-content: center;
            //margin: auto;
          }
          .text-h3 {
            @include media-breakpoint-down(md) {
              padding: 30px 0 20px;
              text-align: center;
              align-content: center;
              margin: auto;
            }
          }
          .message-img-text__mobile {
            @include media-breakpoint-up(lg) {
              display: none;
            }
            @include media-breakpoint-down(md) {
              margin-top: 50px;
              margin-bottom: 25px;
            }
            position: relative;
            .images_check {
              position: absolute;
              transform: translate(-25px, 65px);
            }
          }
          .link-name {
            @include over-extra;
            font-size: 16px;
            font-weight: 900;
            color: #1a5dc6;
            font-family: $roboto;
          }
          .date {
            @include media-breakpoint-down(md) {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
            }
            display: inline-block;
            color: #9ba0b5;
            font-family: $roboto;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
          }
          .dot {
            @include media-breakpoint-down(md) {
              display: none;
            }
            width: 4px;
            height: 4px;
            background-color: #9ba0b5;
            margin: 3px 16px;
          }
          .Estate {
            margin-bottom: 20px;
            @include media-breakpoint-down(md) {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
            }
          }
        }
        &-img-text {
          position: relative;
          //margin-top: 40px;
          margin: auto;
          img {
            margin-bottom: 20px;
            @include media-breakpoint-down(md) {
              display: none;
            }
          }
          .images_check {
            position: absolute;
            transform: translate(70px, -50px);
          }
          .link-bold {
            transition: 0.3s;
            @include media-breakpoint-down(md) {
              margin-top: 40px;
              width: 272px;
              height: 32px;
              color: #222634;
              font-weight: 800;
              font-size: 12px;
              letter-spacing: 0.4px;
              text-transform: uppercase;
              border: 2px solid rgba(183, 184, 199, 0.25);
              @include flex-center;
              @include over-extra;
              &:hover {
                background-color: #e8e8e8;
                color: #1b5ec6;
              }
            }
            color: #1a5dc6;
            @include over-extra;
            font-size: 12px;
            font-weight: 900;
            letter-spacing: 0.69px;
            text-transform: uppercase;
          }
        }
      }
    }
    &__description {
      @include media-breakpoint-up(lg) {
        max-width: 500px;
      }
      @include media-breakpoint-down(md) {
        padding-left: 15px;
        padding-right: 15px;
      }
      .bottom-line {
        border-bottom: 1px solid #eeeff3;
        background-color: #fff;
        padding-bottom: 40px;
        @include media-breakpoint-down(md) {
          padding-top: 20px;
        }
      }
    }
    &__map {
      margin-top: 40px;
      padding-bottom: 27px;
      width: 296px;
      //height: 712px;
      height: 100%;
      box-shadow: 0 22px 45px rgba(148, 154, 170, 0.1);
      background-color: #fff;
      position: relative;
      .map {
        margin-bottom: 23px;
        @include media-breakpoint-down(md) {
          display: none;
        }
      }
      .h-font {
        color: #222634;
        @include over-extra;
        font-size: 24px;
        font-weight: 900;
        letter-spacing: -0.74px;
        text-transform: uppercase;
        padding-right: 4px;
      }
      .big-font {
        color: #222634;
        font-family: $roboto;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.09px;
      }
      .link-vulgatus {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        bottom: -50px;
        color: #1a5dc6;
        font-family: $roboto;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.35px;
        line-height: 20px;
        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }
    &__block-top {
      display: flex;
      justify-content: flex-start;
      position: relative;
      @include media-breakpoint-down(md) {
        display: none;
      }
      .heard:after {
        position: absolute;
        right: 27px;
        top: 0;
        content: url("../../images/apartment-details/Like_selected.svg");
        font-size: 20px;
      }
    }
    &__block-middle {
      position: relative;
      .checker:after {
        position: absolute;
        right: 27px;
        top: 28px;
        content: url("../../images/apartment-details/checkker.svg");
        font-size: 20px;
      }
      .calendar:after {
        position: absolute;
        right: 27px;
        top: 74px;
        content: url("../../images/apartment-details/calendar.svg");
        font-size: 20px;
      }
    }
    &__block-bottom {
      margin-right: 27px;
      .blocks-allow {
        display: flex;
        justify-content: space-between;
      }
      .button--blue {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 23px;
        @include media-breakpoint-down(md) {
          display: none;
          margin: 20px 0;
          width: 80px;
          height: 20px;
        }
      }
    }
    &__block-text {
      margin-top: 20px;
      font-family: $roboto;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.09px;
      .map-font-big {
        color: #666b7c;
      }
      .map-font-middle {
        color: #9ba0b5;
      }
    }
    &__undermap {
      margin-left: 32px;
      .bottom-line-small {
        border-bottom: 1px solid #eeeff3;
        background-color: #fff;
        padding-bottom: 12px;
        margin-top: 28px;
      }
    }
  }
  &-map {
    .container {
      max-width: 910px;
      padding: 0 15px;
      margin: auto;
    }
    &__buttons-on-map {
      position: relative;
      .images {
        position: absolute;
        top: 20px;
      }
      @include media-breakpoint-down(md) {
        align-items: center;
        text-align: center;
        margin: auto;
      }
    }
    &__bcground {
      height: 600px;
      //background-position: center;
      //background-size: cover;
    }
    &__around {
      padding-top: 95px;
      padding-bottom: 24px;
      @include media-breakpoint-down(md) {
        //max-width: 370px;
        align-items: center;
        text-align: center;
        margin: auto;
        padding-top: 30px;
      }
      h3 {
        color: #222634;
        @include over-extra;
        font-size: 16px;
        font-weight: 800;
      }
    }
    &__gallery2 {
      display: flex;
      position: relative;
      margin-left: 20px;
      @include media-breakpoint-up(lg) {
        display: none;
      }
      .slick-slider .slick-list {
        @include media-breakpoint-down(sm) {
          -webkit-transform: translate3d(50px, 0, 0);
          -moz-transform: translate3d(50px, 0, 0);
          -ms-transform: translate3d(50px, 0, 0);
          -o-transform: translate3d(50px, 0, 0);
          transform: translate3d(50px, 0, 0);
        }
      }
    }
    &__position2 {
      position: relative;
      display: flex;
      //align-content: flex-start;
      width: auto !important;
      img {
        flex-direction: column;
        margin: auto;
        //padding-bottom: 20px;
      }
      .galimg {
        padding: 0 0 20px;
        margin: 0;
      }
      h3 {
        color: #222634;
        margin: 0;
        @include over-extra;
        font-size: 14px;
        font-weight: 800;
        line-height: 16px;
        text-align: left;
      }
      p {
        font-family: $roboto;
        margin-top: 3px;
        color: #9ba0b5;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.08px;
        text-align: left;
      }
      .zar-box {
        z-index: 999;
        position: absolute;
        width: 90px;
        height: 48px;
        background-color: #3b3f4e;
        left: 114px;
        top: 12px;
        padding: 10px 6px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        span {
          color: #fff;
          font-size: 12px;
          letter-spacing: -0.09px;
          @include over-extra;
          &:first-child {
            opacity: 0.5;
            color: #fff;
            font-family: $roboto;
            font-size: 10px;
            font-weight: 400;
            letter-spacing: -0.31px;
            text-transform: uppercase;
          }
        }
      }
    }
    &__gallery {
      display: flex;
      justify-content: space-between;
      @include media-breakpoint-down(md) {
        display: none;
      }
      .gallery-img {
        width: 25%;
        display: flex;
        justify-content: space-between;
        a {
          &.hide {
            content: url("images/apartment-details/Fade.png");
          }
        }
        .gallery-column {
          display: flex;
          flex-direction: column;
          img {
            margin-top: 31px;
            margin-bottom: 16px;
          }
          p {
            padding-bottom: 4px;
          }
          .text_bold {
            color: #222634;
            @include over-extra;
            font-size: 14px;
            font-weight: 700;
            line-height: 16px;
          }
        }
      }
    }
    &__position {
      display: flex;
      .apartment-tile {
        width: 204px;
        height: auto;
        //box-shadow: 0 0 4px #eeeef2;
        box-shadow: none !important;
        margin: 7px;
        position: relative;
        &__checkbox-position {
          display: none;
          position: absolute;
        }
        &__checkbox {
          display: none;
          position: absolute;
          opacity: 0;
          & + label {
            position: relative;
            margin-left: 30px;
            cursor: pointer;
            padding: 0;
            transition: 0.3s;
          }
          & + label:before {
            content: url("images/global/heart-white.svg");
            position: absolute;
            display: inline-block;
            top: 27px;
            left: -10px;
            z-index: 20;
          }
          &:checked + label:before {
            content: url("images/global/heart-red.svg");
          }
        }
        &__slider {
          width: 204px;
          height: 256px;
          margin: 0 !important;
          &:hover {
            .slick-next,
            .slick-prev {
              opacity: 1;
            }
            .slick-dots {
              li.slick-active {
                button {
                  &:before {
                    opacity: 1 !important;
                  }
                }
              }
              li {
                button {
                  &:before {
                    opacity: 1 !important;
                  }
                }
              }
            }
          }
          img {
            width: 204px;
            //width: 310px;
            height: 100%;
          }
        }
        &__zar-box {
          position: absolute;
          width: 90px;
          height: 48px;
          background-color: #3b3f4e;
          right: 0;
          top: -245px;
          padding: 10px 6px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          span {
            color: #fff;
            font-size: 12px;
            letter-spacing: -0.09px;
            @include over-extra;
            &:first-child {
              opacity: 0.5;
              color: #fff;
              font-family: $roboto;
              font-size: 10px;
              font-weight: 400;
              letter-spacing: -0.31px;
              text-transform: uppercase;
            }
          }
        }
        &__desc-position {
          position: relative;
          //padding: 20px 24px 22px;
          padding: 20px 24px 0;
          h3 {
            color: #222634;
            margin: 0;
            @include over-extra;
            font-size: 14px;
            font-weight: 700;
            line-height: 16px;
          }
        }
        &__desc {
          display: none;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        &__verification-position {
          display: none;
          display: flex;
          align-items: center;
        }
        &__verification {
          display: none;
          font-family: "Source Sans Pro", sans-serif;
          color: #fff;
          font-size: 11px;
          font-weight: 800;
          letter-spacing: 0.05px;
          text-transform: uppercase;
          padding: 4px;
        }
        &__blue {
          background-color: #1a5dc6;
        }
        &__orange {
          background-color: #ff8364;
        }
        &__gray {
          background-color: #9ba0b5;
        }
        &__desc-apart {
          display: none;
          color: #222634;
          font-family: $roboto;
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 0.06px;
          margin-left: 40px;
          position: relative;
          &:before {
            position: absolute;
            content: url("images/global/browsing-dot.svg");
            width: 16px;
            height: 9px;
            left: -24px;
            right: auto;
            top: 6px;
          }
        }
        &__rating-position {
          display: none;
          display: flex;
          align-items: baseline;
          img {
            display: none;
          }
        }
        &__rating {
          display: none;
          color: #666b7c;
          font-family: $roboto;
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 0.06px;
          margin: 0 5px;
        }
        &__review {
          display: none;
          color: #1a5dc6;
          font-family: $roboto;
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 0.06px;
        }
        &__new-label {
          display: none;
          color: #ff7e42;
          font-size: 12px;
          letter-spacing: 0.4px;
          text-transform: uppercase;
          @include over-extra;
        }
        &__adress {
          font-family: $roboto;
          margin-top: 3px;
          color: #9ba0b5;
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 0.08px;
        }
        &__details {
          display: none;
          display: flex;
          margin-top: 15px;
          span {
            color: #666b7c;
            font-family: $roboto;
            font-size: 14px;
            font-weight: 400;
            margin-left: 45px;
            &:first-child {
              margin-left: 25px;
            }
          }
        }
        &__details-sofa {
          display: none;
          position: relative;
          &:before {
            position: absolute;
            content: url("images/global/sofa.svg");
            width: 16px;
            height: 9px;
            left: -24px;
            right: auto;
            top: 6px;
          }
        }
        &__details-bath {
          display: none;
          position: relative;
          &:before {
            position: absolute;
            content: url("images/global/bath.svg");
            width: 16px;
            height: 8px;
            left: -24px;
            right: auto;
            top: 6px;
          }
        }
        &__details-square {
          display: none;
          position: relative;
          &:before {
            position: absolute;
            content: url("images/global/square.svg");
            width: 24px;
            height: 24px;
            left: -24px;
            right: auto;
            top: 4px;
          }
        }
      }
      .slick-next {
        right: 0;
        z-index: 9;
        &:before {
          content: url("images/global/slick-next.svg") !important;
        }
      }
      .slick-prev {
        left: 0;
        z-index: 9;
        &:before {
          content: url("images/global/slick-prev.svg") !important;
        }
      }
      .slick-next,
      .slick-prev {
        width: 40px;
        transition: 0.3s;
        opacity: 0;
        height: 100%;
        background-color: rgba(59, 63, 78, 0.13);
        @include flex-center;
        &:hover {
          background-color: rgba(59, 63, 78, 0.13);
        }
      }
      .slick-dots {
        li.slick-active {
          button {
            position: relative;
            &:before {
              content: url("images/global/dot-active-slider.svg") !important;
              position: absolute;
              top: -20px;
              left: 0;
              width: 20px;
              height: 20px;
              opacity: 0;
            }
          }
        }
        li {
          button {
            position: relative;
            &:before {
              content: url("images/global/dot-slider.svg");
              position: absolute;
              top: -20px;
              left: 0;
              width: 20px;
              height: 20px;
              opacity: 0;
            }
          }
        }
      }
    }
    &__other {
      h3 {
        margin: 0;
      }
      a {
        padding-right: 25px;
        color: #222634;
        font-family: $roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
      }
      .offset-text {
        margin-bottom: 24px;
        //display: flex;
        @include media-breakpoint-down(md) {
          display: flex;
          flex-direction: column;
          a {
            margin-top: 20px;
            padding-right: 0;
          }
        }
      }
    }
    &__button {
      display: flex;
      justify-content: center;
      padding: 40px 0 110px;
      @include media-breakpoint-down(md) {
        padding-bottom: 50px;
      }
      .button--white {
        width: 272px;
        height: 32px;
        color: #222634;
        @include over-extra;
        font-size: 12px;
        font-weight: 900;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        border: 2px solid rgba(183, 184, 199, 0.25);
      }
    }
  }
  .map {
    width: 100%;
    height: 100%;
  }
}
@-moz-document url-prefix() {
  .apartment-details-header__gallery .gallery-img a:nth-child(2)::before {
    top: -34px;
  }
  .apartment-details-header__gallery .gallery-img a:nth-child(3)::before {
    top: -34px;
  }
}
@supports (-ms-ime-align:auto) {
  .apartment-details-header__gallery .gallery-img a:nth-child(2)::before {
    top: -32px;
  }
  .apartment-details-header__gallery .gallery-img a:nth-child(3)::before {
    top: -32px;
  }
}
