.apartment-details {
  p {
    font-family: $roboto;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.1px;
    line-height: 24px;
  }
  .map-font {
    color: #9ba0b5;
    font-family: $roboto;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.08px;
  }
  &-header {
    .container {
      max-width: 910px;
      padding: 0 15px;
      margin: auto;
    }
    &__bcground {
      height: 536px;
      background-position: center;
      background-size: cover;
      position: relative;
      h1 {
        width: 478px;
        height: 85px;
        color: #fff;
        @include over-extra;
        font-size: 46px;
        font-weight: 900;
        line-height: 45px;
        margin-bottom: 21px;
      }
      .arrow-back {
        position: absolute;
        top: 26px;
        left: 50px;
      }
    }
    &__title {
      padding-top: 290px;
      padding-bottom: 53px;
      position: relative;
      .button--blue {
        margin-bottom: 7px;
      }
      .target {
        width: 259px;
        height: 17px;
        color: #fff;
        font-family: $roboto;
        font-size: 14px;
        font-weight: 400;
        position: relative;
        padding-left: 20px;
        margin-bottom: 15px;
        &:before {
          position: absolute;
          left: 0;
          top: 0;
          content: url("../../images/apartment-details/target.svg");
          font-size: 20px;
        }
      }
      .row-statist {
        width: 300px;
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-top: 11px;
        p {
          color: #fff;
          font-family: $roboto;
          font-size: 14px;
          font-weight: 400;
          padding-left: 25px;
          position: relative;
          &:before {
            width: 12px;
            height: 12px;
            position: absolute;
            left: 0;
            //top: auto;
          }
        }
        .bed {
          &:before {
            top: 9px;
            content: url("../../images/apartment-details/bed.svg");
          }
        }
        .bath {
          &:before {
            top: 11px;
            content: url("../../images/apartment-details/bath.svg");
          }
        }
        .size {
          &:before {
            top: 8px;
            content: url("../../images/apartment-details/size.svg");
          }
        }
        .bild {
          //right: 2px;
          &:before {
            top: 7px;
            content: url("../../images/apartment-details/bild.svg");
          }
        }
      }
    }
    &__gallery {
      position: absolute;
      right: -150px;
      bottom: 70px;
      height: 92px;
      width: 450px;
      display: flex;
      justify-content: center;
      align-items: center;
      .gallery-img {
        position: relative;
        //a {
        //  margin-left: 5px;
        //  position: relative;
        //  &:after {
        //    content: "";
        //    position: absolute;
        //    left: 0;
        //    top: 0;
        //    right: 0;
        //    bottom: 0;
        //    z-index: 99;
        //    -webkit-transition: 0.3s;
        //    transition: 0.3s;
        //    background: rgba(0, 0, 0, 0.5);
        //  }
        //  &:first-child {
        //    &:after {
        //      background: none;
        //    }
        //  }
        //}
        .ingallery {
          position: absolute;
          right: 55px;
          top: 25px;
          z-index: 99;
          width: 25px;
          height: 40px;
          color: #fff;
          font-family: $roboto;
          font-size: 22px;
          font-weight: 500;
          line-height: 40px;
        }
      }
    }
  }
  &-blocks {
    padding-bottom: 120px;
    .container {
      max-width: 910px;
      padding: 0 15px;
      margin: auto;
      h3 {
        max-width: 340px;
        //width: 77px;
        height: 24px;
        color: #222634;
        @include over-extra;
        font-size: 16px;
        font-weight: 900;
      }
    }
    &__features {
      display: flex;
      justify-content: space-between;
      .features-img {
        display: flex;
        justify-content: space-between;
      }
      .features-img-text {
        display: flex;
        flex-direction: column;
        height: 125px;
        .images {
          width: 72px;
          height: 72px;
          display: flex;
          justify-content: center;
          border: 1px solid #f3f3f4;
        }
        .symbol {
          padding-top: 11px;
          text-align: center;
          width: 72px;
          color: #666b7c;
          font-family: $roboto;
          font-size: 14px;
          font-weight: 500;
          line-height: 16px;
        }
      }
      .message {
        display: flex;
        justify-content: space-between;
        p {
          font-family: $roboto;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: -0.1px;
          line-height: 24px;
        }
        &-text {
          min-width: 330px;
          .link-name {
            @include over-extra;
            font-size: 16px;
            font-weight: 900;
            color: #1a5dc6;
            font-family: $roboto;
          }
          .date {
            display: inline-block;
            color: #9ba0b5;
            font-family: $roboto;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
          }
          .dot {
            width: 4px;
            height: 4px;
            background-color: #9ba0b5;
            margin: 3px 16px;
          }
          .Estate {
            margin-bottom: 20px;
          }
        }
        &-img-text {
          position: relative;
          margin-top: 40px;
          img {
            margin-bottom: 20px;
          }
          .images_check {
            position: absolute;
            transform: translate(70px, -50px);
          }
          .link-bold {
            color: #1a5dc6;
            @include over-extra;
            font-size: 12px;
            font-weight: 900;
            letter-spacing: 0.69px;
            text-transform: uppercase;
          }
        }
      }
    }
    &__description {
      max-width: 500px;
      .bottom-line {
        border-bottom: 1px solid #eeeff3;
        background-color: #fff;
        padding-bottom: 40px;
      }
    }
    &__map {
      margin-top: 40px;
      padding-bottom: 27px;
      width: 296px;
      //height: 712px;
      height: 100%;
      box-shadow: 0 22px 45px rgba(148, 154, 170, 0.1);
      background-color: #fff;
      position: relative;
      .map {
        margin-bottom: 23px;
      }
      .h-font {
        color: #222634;
        @include over-extra;
        font-size: 24px;
        font-weight: 900;
        letter-spacing: -0.74px;
        text-transform: uppercase;
        padding-right: 4px;
      }
      .big-font {
        color: #222634;
        font-family: $roboto;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.09px;
      }
      .link-vulgatus {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        bottom: -50px;
        color: #1a5dc6;
        font-family: $roboto;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.35px;
        line-height: 20px;
      }
    }
    &__block-top {
      display: flex;
      justify-content: flex-start;
      position: relative;
      //margin-top: 28px;
      .heard:after {
        position: absolute;
        right: 27px;
        top: 0;
        content: url("../../images/apartment-details/Like_selected.svg");
        font-size: 20px;
      }
    }
    &__block-middle {
      position: relative;
      .checker:after {
        position: absolute;
        right: 27px;
        top: 28px;
        content: url("../../images/apartment-details/checkker.svg");
        font-size: 20px;
      }
      .calendar:after {
        position: absolute;
        right: 27px;
        top: 74px;
        content: url("../../images/apartment-details/calendar.svg");
        font-size: 20px;
      }
    }
    &__block-bottom {
      margin-right: 27px;
      .blocks-allow {
        display: flex;
        justify-content: space-between;
      }
      .button--blue {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 23px;
      }
    }
    &__block-text {
      margin-top: 20px;
      font-family: $roboto;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.09px;
      .map-font-big {
        color: #666b7c;
      }
      .map-font-middle {
        color: #9ba0b5;
      }
    }
    &__undermap {
      margin-left: 32px;
      .bottom-line-small {
        border-bottom: 1px solid #eeeff3;
        background-color: #fff;
        padding-bottom: 12px;
        margin-top: 28px;
      }
    }
    //&__block-top {
    //  align-items: end;
    //}
  }
  &-map {
    .container {
      max-width: 910px;
      padding: 0 15px;
      margin: auto;
    }
    &__buttons-on-map {
      position: relative;
      .images {
        position: absolute;
        top: 20px;
      }
    }
    &__bcground {
      height: 600px;
      background-position: center;
      background-size: cover;
    }
    &__around {
      padding-top: 95px;
      padding-bottom: 24px;
      h3 {
        color: #222634;
        @include over-extra;
        font-size: 16px;
        font-weight: 900;
      }
    }
    &__gallery {
      display: flex;
      justify-content: space-between;
      //width: 50%;
      .gallery-img {
        width: 25%;
        display: flex;
        justify-content: space-between;
        .gallery-column {
          display: flex;
          flex-direction: column;
          img {
            margin-top: 31px;
            margin-bottom: 16px;
          }
          p {
            padding-bottom: 4px;
          }
          .text_bold {
            color: #222634;
            @include over-extra;
            font-size: 14px;
            font-weight: 700;
            line-height: 16px;
          }
        }
      }
    }
    &__position {
      display: flex;
      .apartment-tile {
        width: 204px;
        height: auto;
        //box-shadow: 0 0 4px #eeeef2;
        box-shadow: none !important;
        margin: 7px;
        position: relative;
        &__checkbox-position {
          display: none;
          position: absolute;
        }
        &__checkbox {
          display: none;
          position: absolute;
          opacity: 0;
          & + label {
            position: relative;
            margin-left: 30px;
            cursor: pointer;
            padding: 0;
            transition: 0.3s;
          }
          & + label:before {
            content: url("images/global/heart-white.svg");
            position: absolute;
            display: inline-block;
            top: 27px;
            left: -10px;
            z-index: 20;
          }
          &:checked + label:before {
            content: url("images/global/heart-red.svg");
          }
        }
        &__slider {
          width: 204px;
          height: 256px;
          margin: 0 !important;
          &:hover {
            .slick-next,
            .slick-prev {
              opacity: 1;
            }
            .slick-dots {
              li.slick-active {
                button {
                  &:before {
                    opacity: 1 !important;
                  }
                }
              }
              li {
                button {
                  &:before {
                    opacity: 1 !important;
                  }
                }
              }
            }
          }
          img {
            width: 204px;
            //width: 310px;
            height: 100%;
          }
        }
        &__zar-box {
          position: absolute;
          width: 90px;
          height: 48px;
          background-color: #3b3f4e;
          right: 0;
          top: -245px;
          padding: 10px 6px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          span {
            color: #fff;
            font-size: 12px;
            letter-spacing: -0.09px;
            @include over-extra;
            &:first-child {
              opacity: 0.5;
              color: #fff;
              font-family: $roboto;
              font-size: 10px;
              font-weight: 400;
              letter-spacing: -0.31px;
              text-transform: uppercase;
            }
          }
        }
        &__desc-position {
          position: relative;
          //padding: 20px 24px 22px;
          padding: 20px 24px 0;
          h3 {
            color: #222634;
            margin: 0;
            @include over-extra;
            font-size: 14px;
            font-weight: 700;
            line-height: 16px;
          }
        }
        &__desc {
          display: none;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        &__verification-position {
          display: none;
          display: flex;
          align-items: center;
        }
        &__verification {
          display: none;
          font-family: "Source Sans Pro", sans-serif;
          color: #fff;
          font-size: 11px;
          font-weight: 800;
          letter-spacing: 0.05px;
          text-transform: uppercase;
          padding: 4px;
        }
        &__blue {
          background-color: #1a5dc6;
        }
        &__orange {
          background-color: #ff8364;
        }
        &__gray {
          background-color: #9ba0b5;
        }
        &__desc-apart {
          display: none;
          color: #222634;
          font-family: $roboto;
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 0.06px;
          margin-left: 40px;
          position: relative;
          &:before {
            position: absolute;
            content: url("images/global/browsing-dot.svg");
            width: 16px;
            height: 9px;
            left: -24px;
            right: auto;
            top: 6px;
          }
        }
        &__rating-position {
          display: none;
          display: flex;
          align-items: baseline;
          img {
            display: none;
          }
        }
        &__rating {
          display: none;
          color: #666b7c;
          font-family: $roboto;
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 0.06px;
          margin: 0 5px;
        }
        &__review {
          display: none;
          color: #1a5dc6;
          font-family: $roboto;
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 0.06px;
        }
        &__new-label {
          display: none;
          color: #ff7e42;
          font-size: 12px;
          letter-spacing: 0.4px;
          text-transform: uppercase;
          @include over-extra;
        }
        &__adress {
          font-family: $roboto;
          margin-top: 3px;
          color: #9ba0b5;
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 0.08px;
        }
        &__details {
          display: none;
          display: flex;
          margin-top: 15px;
          span {
            color: #666b7c;
            font-family: $roboto;
            font-size: 14px;
            font-weight: 400;
            margin-left: 45px;
            &:first-child {
              margin-left: 25px;
            }
          }
        }
        &__details-sofa {
          display: none;
          position: relative;
          &:before {
            position: absolute;
            content: url("images/global/sofa.svg");
            width: 16px;
            height: 9px;
            left: -24px;
            right: auto;
            top: 6px;
          }
        }
        &__details-bath {
          display: none;
          position: relative;
          &:before {
            position: absolute;
            content: url("images/global/bath.svg");
            width: 16px;
            height: 8px;
            left: -24px;
            right: auto;
            top: 6px;
          }
        }
        &__details-square {
          display: none;
          position: relative;
          &:before {
            position: absolute;
            content: url("images/global/square.svg");
            width: 24px;
            height: 24px;
            left: -24px;
            right: auto;
            top: 4px;
          }
        }
      }
      .slick-next {
        right: 0;
        z-index: 9;
        &:before {
          content: url("images/global/slick-next.svg") !important;
        }
      }
      .slick-prev {
        left: 0;
        z-index: 9;
        &:before {
          content: url("images/global/slick-prev.svg") !important;
        }
      }
      .slick-next,
      .slick-prev {
        width: 40px;
        transition: 0.3s;
        opacity: 0;
        height: 100%;
        background-color: rgba(59, 63, 78, 0.13);
        @include flex-center;
        &:hover {
          background-color: rgba(59, 63, 78, 0.13);
        }
      }
      .slick-dots {
        li.slick-active {
          button {
            position: relative;
            &:before {
              content: url("images/global/dot-active-slider.svg") !important;
              position: absolute;
              top: -20px;
              left: 0;
              width: 20px;
              height: 20px;
              opacity: 0;
            }
          }
        }
        li {
          button {
            position: relative;
            &:before {
              content: url("images/global/dot-slider.svg");
              position: absolute;
              top: -20px;
              left: 0;
              width: 20px;
              height: 20px;
              opacity: 0;
            }
          }
        }
      }
    }
    &__other {
      h3 {
        margin: 0;
      }
      a {
        padding-right: 25px;
        color: #222634;
        font-family: $roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
      }
      .offset-text {
        margin-bottom: 24px;
      }
    }
    &__button {
      display: flex;
      justify-content: center;
      padding: 40px 0 110px;
      .button--white {
        width: 272px;
        height: 32px;
        color: #222634;
        @include over-extra;
        font-size: 12px;
        font-weight: 900;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        border: 2px solid rgba(183, 184, 199, 0.25);
      }
    }
  }
}
