.browsing {
  .nicescroll-rails {
    opacity: 0;
  }
  &__search-result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    position: relative;
    &:before {
      position: absolute;
      content: "";
      width: 260%;
      left: -430px;
      bottom: 0;
      height: 1px;
      background-color: rgba(183, 184, 199, 0.16);
    }
    p {
      max-width: 70%;
      color: #222634;
      font-family: $roboto;
      font-size: 14px;
      font-weight: 500;
    }
  }
  &__closest-filter {
    position: relative;
    > a {
      color: #222634;
      font-family: $roboto;
      font-size: 14px;
      font-weight: 500;
      text-decoration: none;
      position: relative;
      margin-right: 20px;
      &:before {
        position: absolute;
        content: "";
        display: block;
        transition: 0.3s;
        border: 4px solid transparent;
        border-top: 4px solid black;
        width: 6px;
        height: 6px;
        right: -17px;
        top: 6px;
        left: auto;
      }
    }
    .filters-menu__dropdown {
      left: auto !important;
      right: -5px !important;
      padding: 24px 0 25px !important;
    }
    .triangle-blue {
      &:before {
        position: absolute;
        content: "";
        display: block;
        border: 4px solid transparent;
        border-top: 4px solid #1a5dc6;
        width: 6px;
        height: 6px;
        right: -17px;
        top: auto;
        bottom: 5px;
        left: auto;
        transform: rotate(180deg);
      }
    }
  }
  &__closest {
    min-width: 210px;
    display: inline-block;
    flex-direction: column;
  }
  &__input {
    position: absolute;
    opacity: 0;
    z-index: -1;
    & + label {
      position: relative;
      cursor: pointer;
      margin-bottom: 0;
    }
    & + label:before {
      content: url("");
      position: absolute;
      display: inline-block;
      top: 13px;
      right: 25px;
    }
    &:checked + label:before {
      content: url("images/global/check.svg");
    }
  }
  &__input-label {
    display: inline-block;
    color: #282830;
    font-family: $roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    padding: 12.5px 25px 12.5px !important;
    width: 100%;
    &:hover {
      background-color: #dfebff;
    }
  }
  &__tile-position {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
    margin: 0 -8px;
    transition: 0.3s;
  }
  &.click-open-map {
    height: 100vh;
    .browsing__search-result {
      &:before {
        content: none;
        width: 0;
      }
    }
    .browsing__tile-position {
      padding: 0;
      height: 100vh;
    }
    .browsing__map-position {
      -webkit-box-shadow: 6px 0 10px -5px rgba(197, 197, 207, 1);
      -moz-box-shadow: 6px 0 10px -5px rgba(197, 197, 207, 1);
      box-shadow: 6px 0 10px -5px rgba(197, 197, 207, 1);
      max-width: 45% !important;
      padding-right: 15px;
      z-index: 4;
      position: relative;
    }
    .apartment-tile {
      display: flex;
      width: 100%;
      box-shadow: none;
      border-bottom: 1px solid #eeeef2;
      margin-right: 40px;
      margin-top: 25px;
      padding-bottom: 25px;
    }
    .apartment-tile__checkbox-position {
      left: auto;
      right: 0;
    }
    .apartment-tile__slider {
      width: 220px;
    }
    .apartment-tile__zar-box {
      width: 90px;
      height: 48px;
      right: auto;
      left: -90px;
      top: 15px;
      padding: 5px 12px;
      span {
        color: #fff;
        font-size: 14px;
        letter-spacing: -0.09px;
        @include over-extra;
        &:first-child {
          opacity: 0.5;
          color: #fff;
          font-family: $roboto;
          font-size: 10px;
          font-weight: 400;
          letter-spacing: -0.31px;
          text-transform: uppercase;
        }
      }
    }
    .browsing__google-map {
      display: block;
    }
    .nicescroll-rails {
      opacity: 1;
    }
  }
  .container-box-full {
    position: relative;
  }
  &__google-map {
    position: absolute;
    right: 0;
    top: 0;
    width: 55%;
    display: none;
    z-index: 3;
  }
}
