.landlord-one {
  .circle {
    display: flex;
    justify-content: center;
    &__position {
      width: 100%;
      height: 100%;
      max-width: 850px;
      max-height: 575px;
      img {
        width: 100%;
      }
    }
  }
  .top-pages {
    margin-top: 56px;
  }
  .paragraf {
    margin-top: 215px;
    position: relative;
    p {
      margin-top: 15px;
    }
    &:after {
      content: url("images/land/path1.svg");
      position: absolute;
      right: 0;
      bottom: auto;
      top: -240px;
      z-index: -1;
    }
  }
  .apply {
    display: flex;
    margin: 300px 0 300px;
    .row {
      flex-direction: row !important;
    }
    &__dots-position {
      &:after {
        content: none;
      }
    }
    img {
      margin-left: -190px;
    }
    a {
      display: none;
    }
    &__text-box {
      &:after {
        content: url("images/land/path2.svg");
        position: absolute;
        right: -200px;
        bottom: auto;
        top: -250px;
        z-index: 0;
      }
      &:before {
        position: absolute;
        content: url("images/main-tenant/dots1.svg");
        left: auto;
        top: -170px;
        right: 85px;
      }
    }
  }
  .feature {
    margin-bottom: 400px;
    .container {
      position: relative;
      &:before {
        position: absolute;
        content: url("images/land/dots2.svg");
        left: auto;
        top: 390px;
        right: 225px;
      }
    }
  }
}
