.landlord-profile {
  overflow-x: visible;
  background: #f7f9fc;
  @media (max-width: 991px) {
    overflow-x: hidden;
  }
  .nicescroll-rails {
    width: 13px !important;
  }
  .nav-brows__search-position {
    display: none !important;
  }
  &__info-bcg {
    background-color: #fff;
  }
  &__info-position {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 35px;
    @media (max-width: 575px) {
      padding-top: 30px;
      padding-bottom: 30px;
      flex-direction: column-reverse;
    }
  }
  &__about-landlord {
    display: flex;
    flex-direction: column;
    h3 {
      color: #222634;
      font-size: 28px;
      line-height: 32px;
      margin: 0 0 20px 0;
      @include over-bold;
      @media (max-width: 575px) {
        display: none;
      }
    }
    p {
      color: #222634;
      font-family: $roboto;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.35px;
      line-height: 24px;
      margin-bottom: 21px;
      max-width: 500px;
      @media (max-width: 640px) {
        max-width: 400px;
      }
    }
    ul {
      display: flex;
      padding: 0;
      list-style: none;
      margin: 0;
      li {
        margin-right: 30px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  &__agency {
    margin-bottom: 14px;
    @media (max-width: 575px) {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
    a {
      color: #9ba0b5;
      font-family: $roboto;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.06px;
      text-decoration: underline !important;
    }
    span {
      color: #9ba0b5;
      font-family: $roboto;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.06px;
      margin-left: 10px;
      position: relative;
      padding-left: 15px;
      &:before {
        content: url("images/landlord-profile/dot.svg");
        position: absolute;
        left: 0;
        top: 5px;
      }
    }
  }
  &__avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    > img {
      width: 120px;
      height: 120px;
      border-radius: 50px;
    }
    h3 {
      color: #222634;
      font-size: 28px;
      line-height: 32px;
      margin: 0 0 20px 0;
      display: none;
      @include over-bold;
      @media (max-width: 575px) {
        display: block;
      }
    }
  }
  &__reviews {
    display: flex;
    align-items: center;
    margin-top: 21px;
    ul {
      display: flex;
      padding: 0;
      list-style: none;
      margin: 0;
      li {
        margin-right: 5px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .second-link-global {
      margin-top: 4px;
      color: #9ba0b5;
      font-family: $roboto;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.06px;
      margin-left: 18px;
      min-width: 60px;
      &:before {
        content: "";
        background-color: #9ba0b5;
        bottom: -4px;
      }
      &:hover {
        color: #9ba0b5;
      }
    }
  }
  &__property-position {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  &__property-title {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    @media (max-width: 669px) {
      justify-content: center;
    }
    @media (max-width: 380px) {
      flex-direction: column;
    }
    h4 {
      margin: 0;
      color: #222634;
      font-size: 20px;
      line-height: 32px;
      @include over-bold;
    }
    span {
      color: #666b7c;
      font-family: $roboto;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: -0.1px;
      margin-left: 20px;
      margin-top: 5px;
      @media (max-width: 380px) {
        margin-left: 0;
      }
    }
  }
  &__tile-position {
    display: flex;
    margin: -10px;
    flex-wrap: wrap;
    justify-content: center;
    .apartment-tile {
      margin: 10px;
      background-color: #fff;
    }
  }
}

