.landlord {
  .top-pages {
    margin-top: 70px;
    margin-bottom: 90px;
    &__text {
      max-width: 510px;
      &:after {
        position: absolute;
        content: url("images/land-one/first.svg");
        overflow: hidden;
        top: 81px;
        z-index: -1;
        right: -200px;
        height: 1400px;
      }
    }
  }
  .title-section {
    h3 {
      color: #fff;
    }
  }
  .report {
    padding: 90px 0;
    background-color: #f3f3f3;
    .image-info {
      margin-bottom: 90px;
      @media (max-width: 575px) {
        margin-bottom: 40px;
      }
      &__img {
        position: relative;
        &:after {
          position: absolute;
          content: url("images/land-four/dots-double.svg");
          z-index: 0;
          top: -200px;
          right: auto;
          left: 80px;
          @media (max-width: 991px) {
            display: none;
          }
        }
        img {
          max-width: 500px;
          margin-left: -23px;
        }
      }
      &__text {
        h3,
        p {
          max-width: 465px;
        }
      }
    }
  }
  .list-white {
    .feature {
      margin-bottom: 245px;
    }
  }
  .ready {
    padding-top: 345px;
  }
  .rent {
    margin-top: 130px;
    position: relative;
    @media (max-width: 767px) {
      margin-top: 70px;
    }
    .paragraf__box {
      max-width: 450px;
    }
    &:after {
      position: absolute;
      content: url("images/land-one/two.svg");
      overflow: hidden;
      top: -159px;
      z-index: -1;
      right: -580px;
      height: 1400px;
    }
    .start {
      .col-lg-4 {
        align-items: flex-start !important;
        .skill-box__item {
          margin-top: 70px;
        }
      }
      .col-lg-6 {
        @media (max-width: 991px) {
          display: flex;
          justify-content: center;
          margin-top: 30px;
        }
        img {
          max-width: 511px;
          @media (max-width: 1140px) {
            max-width: 100%;
            margin-left: 0;
            padding-bottom: 30px;
          }
          @media (max-width: 991px) {
            width: auto;
            max-height: 500px;
            padding-bottom: 0;
          }
        }
      }
    }
    .center {
      margin-top: -145px;
    }
    .end {
      &:after {
        position: absolute;
        content: url("images/land-one/third.svg");
        overflow: hidden;
        top: 810px;
        z-index: -1;
        right: 720px;
        height: 750px;
      }
      .col-lg-5 {
        @media (max-width: 991px) {
          display: flex;
          justify-content: center;
        }
        img {
          max-width: 440px;
          @media (max-width: 991px) {
            width: auto;
            max-height: 500px;
          }
          @media (max-width: 575px) {
            width: auto;
            max-height: 400px;
          }
          @media (max-width: 400px) {
            width: 100%;
            max-height: none;
            height: auto;
          }
        }
      }
    }
  }
}
.list {
  margin-top: 225px;
  margin-bottom: 255px;
  background-color: #f3f3f3;
  position: relative;
  @media (max-width: 575px) {
    margin-bottom: 200px;
  }
  &:before {
    position: absolute;
    width: 120%;
    top: -105px;
    left: -200px;
    right: 0;
    z-index: -1;
    content: "";
    background-color: #f3f3f3;
    height: 211px;
    transform: rotate(-5deg);
    @media (max-width: 1100px) {
      width: 170%;
    }
  }
  &:after {
    position: absolute;
    width: 120%;
    bottom: -105px;
    left: -200px;
    right: 0;
    z-index: -1;
    content: "";
    background-color: #f3f3f3;
    height: 211px;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    @media (max-width: 1100px) {
      width: 170%;
    }
  }
  div.image-info {
    margin-bottom: 15px;
  }
  img {
    max-width: 540px;
  }
}
.list-white {
  div.image-info__img * {
    margin-left: -32px;
    @media (max-width: 991px) {
      margin-left: 0;
    }
  }
  .feature__all {
    margin-top: 45px;
  }
  .image-info__text {
    position: relative;
    &:after {
      position: absolute;
      content: url("images/land-one/four.svg");
      overflow: hidden;
      top: -130px;
      z-index: -1;
      right: -300px;
      height: 750px;
      @media (max-width: 991px) {
        display: none;
      }
    }
  }
  img {
    max-width: 540px;
  }
}
