.landlord {
  .top-pages {
    margin-top: 70px;
    margin-bottom: 90px;
    &__text {
      max-width: 510px;
      &:after {
        position: absolute;
        content: url("images/land-one/first.svg");
        overflow: hidden;
        top: 81px;
        z-index: -1;
        right: -200px;
        height: 1400px;
      }
    }
  }
  .title-section {
    h3 {
      color: #fff;
    }
  }
  .report {
    padding: 110px 0;
    background-color: #f3f3f3;
    .image-info {
      margin-bottom: 90px;
      &__img {
        position: relative;
        &:after {
          position: absolute;
          content: url("images/land-four/dots-double.svg");
          z-index: 0;
          top: -200px;
          right: auto;
          left: 80px;
        }
        img {
          margin-left: -23px;
        }
      }
      &__text {
        h3,
        p {
          max-width: 465px;
        }
      }
    }
  }
  .list-white {
    .feature {
      margin-bottom: 245px;
    }
  }
  .ready {
    padding-top: 300px;
  }
}
.rent {
  margin-top: 130px;
  position: relative;
  &:after {
    position: absolute;
    content: url("images/land-one/two.svg");
    overflow: hidden;
    top: -159px;
    z-index: -1;
    right: -580px;
    height: 1400px;
  }
  .end {
    &:after {
      position: absolute;
      content: url("images/land-one/third.svg");
      overflow: hidden;
      top: 810px;
      z-index: -1;
      right: 720px;
      height: 750px;
    }
  }
}
.list {
  margin-top: 225px;
  margin-bottom: 255px;
  background-color: #f3f3f3;
  position: relative;
  &:before {
    position: absolute;
    width: 120%;
    top: -105px;
    left: -200px;
    right: 0;
    z-index: -1;
    content: "";
    background-color: #f3f3f3;
    height: 211px;
    transform: rotate(-5deg);
  }
  &:after {
    position: absolute;
    width: 120%;
    bottom: -105px;
    left: -200px;
    right: 0;
    z-index: -1;
    content: "";
    background-color: #f3f3f3;
    height: 211px;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  div.image-info {
    margin-bottom: 15px;
  }
}
.list-white {
  div.image-info__img * {
    margin-left: -32px;
  }
  .feature__all {
    margin-top: 45px;
  }
  .image-info__text {
    position: relative;
    &:after {
      position: absolute;
      content: url("images/land-one/four.svg");
      overflow: hidden;
      top: -130px;
      z-index: -1;
      right: -300px;
      height: 750px;
    }
  }
}
