.landlord-one {
  .circle {
    display: flex;
    justify-content: center;
    &__position {
      width: 100%;
      height: auto;
      max-width: 850px;
      max-height: 575px;
      img {
        width: 100%;
        animation: move-img 3s infinite ease-in-out;
        @media (max-width: 991px) {
          margin-top: 30px;
        }
      }
    }
  }
  .top-pages {
    margin-top: 56px;
  }
  .paragraf {
    margin-top: 225px;
    position: relative;
    @media (max-width: 991px) {
      margin-top: 100px;
    }
    .col-lg-6 {
      @extend .col-lg-8;
    }
    p {
      margin-top: 15px;
      position: relative;
      &:before {
        position: absolute;
        content: url("images/land-one/dots1.svg");
        left: 0;
        top: -320px;
        right: auto;
        @media (max-width: 991px) {
          display: none;
        }
      }
    }
    &:after {
      content: url("images/land/path1.svg");
      position: absolute;
      right: -30px;
      bottom: auto;
      top: -300px;
      z-index: -1;
      @media (max-width: 991px) {
        display: none;
      }
    }
  }
  .apply {
    display: flex;
    margin: 230px 0 260px;
    @media (max-width: 991px) {
      margin: 140px 0 160px;
    }
    .row {
      flex-direction: row !important;
    }
    &__dots-position {
      &:after {
        content: none;
      }
    }
    img {
      margin-left: -150px;
    }
    a {
      display: none;
    }
    .col-lg-6 {
      img {
        max-width: 665px;
      }
    }
  }
  .feature {
    margin-bottom: 400px;
    @media (max-width: 991px) {
      margin-bottom: 150px;
    }
    .container {
      position: relative;
      &:before {
        position: absolute;
        content: url("images/land/dots2.svg");
        left: auto;
        top: 375px;
        right: 225px;
        @media (max-width: 991px) {
          display: none;
        }
      }
    }
  }
  .ready {
    @media (max-width: 575px) {
      padding: 0;
    }
    a {
      @media (max-width: 575px) {
        margin-bottom: 80px;
      }
    }
  }
  .apply__text-box-position {
    &:after {
      content: url("images/land/path2.svg");
      position: absolute;
      right: -1180px;
      bottom: auto;
      top: -950px;
      z-index: 0;
    }
    &:before {
      position: absolute;
      content: url("images/land-one/dots2.svg");
      left: auto;
      top: -140px;
      right: 85px;
      @media (max-width: 991px) {
        display: none;
      }
    }
  }
}
