
.trend-city {
  position: relative;
  padding: 200px 0 185px 0;
  @media (max-width: 991px) {
    padding: 120px 0 185px 0;
  }
  .container {
    position: relative;
  }
  &__all-position {
    margin: 0;
    display: flex;
    justify-content: center;
    position: relative;
    &:after {
      content: url("images/main-tenant/path1.svg");
      position: absolute;
      right: auto;
      bottom: auto;
      top: 190px;
      z-index: -1;
    }
  }
  &__link {
    width: 240px;
    height: 32px;
    color: #fff;
    font-size: 12px;
    letter-spacing: 0.4px;
    line-height: 16px;
    text-transform: uppercase;
    margin-top: 65px;
    @include luc;
    @media (max-width: 575px) {
      width: 280px;
      margin-top: 30px;
    }
  }
  &__title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 65px;
    @media (max-width: 767px) {
      justify-content: center;
    }
    h2 {
      color: #222634;
      font-size: 42px;
      letter-spacing: -0.44px;
      line-height: 48px;
      max-width: 315px;
      @include over-extra;
      @media (max-width: 767px) {
        text-align: center;
        @include title-h2-767;
      }
    }
  }
  &__par2 {
    display: none;
  }
  &__all {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin: 0 -15px;
    @media (max-width: 1120px) {
      justify-content: center;
    }
    a {
      transition: 0.3s;
      &:hover {
        transform: scale(1.04);
        box-shadow: 0 2px 25px 0 #9ba0b5;
        .trend-city__par1 {
          display: none;
        }
        .trend-city__par2 {
          display: block;
        }
      }
    }
  }
  &__item {
    position: relative;
    width: 344px;
    min-height: 400px;
    padding: 10px 35px;
    border-radius: 5px;
    margin: 0 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    overflow: hidden;
    transition: 0.5s;
    z-index: 2;
    @media (max-width: 575px) {
      width: 280px;
      height: 367px;
      min-height: auto;
      margin: 0 15px 25px;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      background-color: #223c68;
      opacity: 0.68;
    }
    strong {
      color: #fff;
      font-size: 20px;
      letter-spacing: -0.21px;
      line-height: 20px;
      display: block;
      z-index: 11;
      @include over-extra;
    }
    p {
      color: #fff;
      font-family: $roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 50px;
      z-index: 11;
    }
  }
}
.main-tenant {
  .paragraf {
    margin-top: 260px;
    margin-bottom: 75px;
    position: relative;
    @media (max-width: 991px) {
      margin-top: 90px;
      margin-bottom: 45px;
    }
    .container {
      position: relative;
      &:after {
        position: absolute;
        content: url("images/land-four/dots-double.svg");
        z-index: -1;
        top: -10px;
        right: 90px;
        @media (max-width: 991px) {
          display: none;
        }
      }
    }
    &:before {
      position: absolute;
      content: url("images/main-tenant/path2.svg");
      z-index: -1;
      top: -140px;
      @media (max-width: 991px) {
        display: none;
      }
    }
  }
  .ready {
    padding-top: 200px;
    @media (max-width: 767px) {
      padding-top: 120px;
    }
    &__title {
      max-width: 650px;
      text-align: center;
    }
    &__desc {
      text-align: center;
      height: auto;
    }
  }
  .apply {
    img {
      max-width: 700px;
    }
  }
  .image-info {
    margin-top: 200px;
    &__img {
      img {
        margin-left: -30px;
        max-width: 550px;
        @media (max-width: 991px) {
          margin-bottom: 25px;
          max-height: 400px;
          width: auto;
        }
        @media (max-width: 480px) {
          max-height: none;
          height: auto;
          width: 100%;
        }
      }
    }
    &__text {
      padding-left: 30px;
      @media (max-width: 991px) {
        padding-left: 15px;
      }
      h3 {
        max-width: 390px;
        @media (max-width: 991px) {
          max-width: 100%;
        }
      }
      p {
        max-width: 390px;
        @media (max-width: 991px) {
          max-width: 100%;
        }
      }
    }
    .apply__link {
      color: #1a5dc6;
      &:after {
        position: absolute;
        content: url("images/main-tenant/arrow-right-blue.png");
        top: 0;
        bottom: 0;
        right: 0;
        width: 12px;
        margin: auto;
        height: 8px;
      }
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #1a5dc6;
        bottom: -4px;
        left: 50%;
        right: 0;
        transform: translate(-50%, 0);
        transition: 0.3s;
        opacity: 0;
      }
      &:hover {
        color: #1a5dc6;
        text-decoration: none !important;
        &:before {
          transform: translate(-50%, -3px);
          opacity: 1;
        }
      }
    }
  }
  .skill-box {
    @media (max-width: 991px) {
      margin-bottom: 240px;
    }
    .start {
      margin-bottom: 0;
      .col-lg-4 {
        align-items: flex-start !important;
        padding-top: 10px;
      }
      .col-lg-6 {
        @media (max-width: 991px) {
          display: flex;
          justify-content: center;
        }
        @media (max-width: 991px) {
          display: block;
        }
        &:before {
          content: none;
        }
        &:after {
          content: none;
        }
        img {
          margin-left: 0;
          margin-top: 0;
          @media (max-width: 1285px) {
            width: 100%;
          }
          @media (max-width: 991px) {
            max-height: 400px;
            width: auto;
          }
          @media (max-width: 575px) {
            max-height: none;
            width: 100%;
          }
        }
      }
    }
    .center {
      .skill-box__item {
        margin-top: -40px;
        @media (max-width: 991px) {
          margin-top: 0;
        }
      }
    }
    .end {
      margin-top: -55px;
      .col-lg-4 {
        align-items: center !important;
        padding-top: -50px;
        position: relative;
        .skill-box__item {
          margin-top: -80px;
          @media (max-width: 991px) {
            margin-top: 0;
          }
        }
        &:before {
          content: url("images/main-tenant/path3.svg");
          position: absolute;
          bottom: auto;
          top: 68px;
          left: auto;
          right: -416px;
          z-index: -1;
          @media (max-width: 991px) {
            display: none;
          }
        }
      }
      .col-lg-5 {
        @media (max-width: 991px) {
          display: flex;
          justify-content: center;
        }
        @media (max-width: 575px) {
          display: block;
        }
        img {
          margin-left: -90px;
          @media (max-width: 1285px) {
            margin-left: 0;
            width: 100%;
          }
          @media (max-width: 991px) {
            max-height: 400px;
            width: auto;
          }
          @media (max-width: 575px) {
            max-height: none;
            width: 100%;
          }
        }
      }
    }
  }
  .d-protection {
    margin-top: -100px;
    margin-bottom: 275px;
    background-color: #f3f3f3;
    position: relative;
    @media (max-width: 991px) {
      margin-bottom: 170px;
    }
    &:before {
      position: absolute;
      width: 120%;
      top: -105px;
      left: -200px;
      right: 0;
      z-index: -1;
      content: "";
      background-color: #f3f3f3;
      height: 211px;
      transform: rotate(-5deg);
      @media (max-width: 1100px) {
        width: 170%;
      }
    }
    &:after {
      position: absolute;
      width: 120%;
      bottom: -105px;
      left: -200px;
      right: 0;
      z-index: -1;
      content: "";
      background-color: #f3f3f3;
      height: 211px;
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg);
      @media (max-width: 1100px) {
        width: 170%;
      }
    }
    .paragraf {
      z-index: 2;
      &:before {
        content: none;
      }
      .container {
        position: relative;
        &:after {
          position: absolute;
          content: url("images/main-tenant/dots1.svg");
          z-index: 0;
          top: -70px;
          right: 90px;
        }
      }
    }
    .feature {
      &:before {
        content: url("images/main-tenant/path4.svg");
        position: absolute;
        bottom: auto;
        top: 70px;
        left: 0;
        right: auto;
        z-index: 0;
      }
    }
    div.image-info {
      margin-bottom: 15px;
    }
  }
  .explore {
    .paragraf {
      &__box {
        h3 {
          @media (max-width: 575px) {
            width: 100%;
            text-align: center;
          }
        }
        p {
          margin-top: 15px;
          @media (max-width: 575px) {
            width: 100%;
            text-align: center;
          }
        }
      }
      &:before {
        content: none;
      }
      .container {
        &:after {
          content: none;
        }
      }
    }
    &__link-position {
      ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          width: 33.3%;
          margin-bottom: 35px;
          @media (max-width: 575px) {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
}
.explore__link {
  color: #222634;
  font-family: $roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  transition: 0.3s;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #1a5dc6;
    bottom: -4px;
    left: 50%;
    right: 0;
    transform: translate(-50%, 0);
    transition: 0.3s;
    opacity: 0;
  }
  &:hover {
    color: #1a5dc6;
    text-decoration: none !important;
    &:before {
      transform: translate(-50%, -3px);
      opacity: 1;
    }
  }
}
