.tenant-one {
  .top-pages {
    margin-top: 65px;
  }
  .title-img {
    margin-top: 90px;
    padding: 100px 0;
    background-color: #f3f3f3;
    &__text {
      max-width: 483px;
      margin-right: 50px;
    }
    &__img {
      position: relative;
      img {
        max-width: 600px;
        margin-right: -31px;
      }
      &:before {
        position: absolute;
        content: url("images/land-four/dots-double.svg");
        right: 95px;
        top: -63px;
        z-index: 1;
      }
    }
  }
  .ready {
    margin-top: 100px;
  }
  .title-section {
    margin-top: 80px;
  }
  .skill-box {
    .start {
      margin-top: -60px;
      .skill-box__item {
        position: relative;
        &:before {
          position: absolute;
          z-index: -1;
          content: url("images/tenant-one/Gradient.svg");
          top: -134px;
          left: -700px;
        }
      }
      .col-lg-6 {
        &:before,
        &:after {
          content: none;
        }
        img {
          margin-left: -50px;
          margin-bottom: -50px;
        }
      }
    }
    .end {
      margin-top: -40px;
      .img {
        position: relative;
        &:before {
          position: absolute;
          z-index: -1;
          content: url("images/tenant-one/dots-one.svg");
          top: 163px;
          left: -23px;
        }
        img {
          margin: 0;
        }
      }
    }
    .center {
      margin-top: -73px;
    }
    .align-items-end {
      margin-top: 30px;
      align-items: flex-start !important;
      .skill-box__item {
        margin-top: 10px;
      }
    }
  }
}
