.tenant-one {
  .top-pages {
    margin-top: 65px;
  }
  .title-img {
    margin-top: 90px;
    padding: 100px 0;
    background-color: #f3f3f3;
    @media (max-width: 575px) {
      padding: 60px 0;
    }
    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 483px;
      margin-right: 50px;
      @media (max-width: 1070px) {
        margin-right: 0;
      }
      @media (max-width: 1070px) {
        max-width: 100%;
      }
    }
    &__img {
      position: relative;
      display: block !important;
      @media (max-width: 991px) {
        display: flex !important;
        justify-content: center;
      }
      img {
        max-width: 600px;
        margin-right: -31px;
        @media (max-width: 1070px) {
          max-width: 100%;
          width: 100%;
          height: auto;
          margin-right: 0;
          margin-bottom: 25px;
        }
        @media (max-width: 991px) {
          max-width: 600px;
          width: 100%;
          height: auto;
        }
      }
      &:before {
        position: absolute;
        content: url("images/land-four/dots-double.svg");
        right: 95px;
        top: -63px;
        z-index: 1;
        @media (max-width: 991px) {
          display: none;
        }
      }
    }
  }
  .ready {
    margin-top: 100px;
  }
  .title-section {
    margin-top: 80px;
  }
  .skill-box {
    .start {
      margin-top: -60px;
      .skill-box__item {
        position: relative;
        &:before {
          position: absolute;
          z-index: -1;
          content: url("images/tenant-one/Gradient.svg");
          top: -134px;
          left: -700px;
        }
      }
      .col-lg-6 {
        @media (max-width: 991px) {
          display: flex;
          justify-content: center;
        }
        @media (max-width: 575px) {
          display: block;
        }
        &:before,
        &:after {
          content: none;
        }
        img {
          margin-left: -50px;
          margin-bottom: -50px;
          @media (max-width: 1170px) {
            width: 100%;
          }
          @media (max-width: 991px) {
            max-width: 600px;
            height: auto;
            margin-bottom: 25px;
            margin-top: 25px;
          }
          @media (max-width: 575px) {
            margin: 0 !important;
            width: 100%;
            height: auto;
          }
        }
      }
    }
    .end {
      margin-top: -40px;
      .img {
        position: relative;
        @media (max-width: 991px) {
          display: flex;
          justify-content: center;
        }
        @media (max-width: 575px) {
          display: block;
          margin: 0 !important;
          width: 100%;
          height: auto;
        }
        &:before {
          position: absolute;
          z-index: -1;
          content: url("images/tenant-one/dots-one.svg");
          top: 163px;
          left: -23px;
          @media (max-width: 992px) {
            display: none;
          }
        }
        img {
          margin: 0;
          @media (max-width: 1170px) {
            width: 100%;
            margin-left: 30px;
          }
          @media (max-width: 991px) {
            max-width: 600px;
            width: 100%;
            height: auto;
            margin-left: 0;
          }
        }
      }
    }
    .center {
      margin-top: -73px;
    }
    .align-items-end {
      margin-top: 30px;
      align-items: flex-start !important;
      .skill-box__item {
        margin-top: 10px;
      }
    }
  }
}
