.img-desc {
  position: relative;
  background-color: #1b5ec6;
  padding-top: 78px;
  @media (max-width: 767px) {
    padding-top: 0;
  }
  &:before {
    position: absolute;
    width: 120%;
    top: -105px;
    left: -200px;
    right: 0;
    z-index: -1;
    content: "";
    background-color: #1b5ec6;
    height: 211px;
    transform: rotate(-5deg);
    @media (max-width: 1100px) {
      width: 170%;
    }
  }
  &:after {
    position: absolute;
    width: 120%;
    bottom: -105px;
    left: -200px;
    right: 0;
    z-index: -1;
    content: "";
    background-color: #1b5ec6;
    height: 211px;
    transform: rotate(-5deg);
    @media (max-width: 1100px) {
      width: 170%;
    }
  }
  &__images {
    @media (max-width: 991px) {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    h3 {
      color: #fff;
      font-size: 42px;
      letter-spacing: -0.44px;
      line-height: 48px;
      @include over-extra;
      @media (min-width: 992px) {
        display: none !important;
      }
      @media (max-width: 767px) {
        @include title-h2-767;
      }
    }
    img {
      animation: move-img 3s infinite ease-in-out;
      @media (max-width: 991px) {
        margin: 25px 0 25px;
        max-height: 500px;
        width: auto;
      }
      @media (max-width: 575px) {
        width: 100%;
        height: auto;
        max-height: none;
      }
    }
  }
  &__text {
    h3 {
      color: #fff;
      font-size: 42px;
      letter-spacing: -0.44px;
      line-height: 48px;
      @include over-extra;
      @media (max-width: 991px) {
        display: none;
      }
    }
    p {
      color: #fff;
      font-family: $roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 32px;
    }
  }
  &__logo {
    max-width: 375px;
    margin-top: 25px;
    img {
      width: 100%;
    }
  }
}
