.lg-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1040;
  background-color: #000;
  opacity: 0;
  -webkit-transition: opacity 0.15s ease 0s;
  -o-transition: opacity 0.15s ease 0s;
  transition: opacity 0.15s ease 0s;
}
.lg-backdrop.in {
  opacity: 0.8;
}
.lg-icon {
  //font-family: 'lg';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.lg-actions .lg-next,
.lg-actions .lg-prev {
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 2px;
  color: #999;
  cursor: pointer;
  display: block;
  font-size: 22px;
  margin-top: -10px;
  padding: 8px 10px 9px;
  position: absolute;
  top: 50%;
  z-index: 1080;
  border: none;
  outline: none;
}
.lg-actions .lg-next.disabled,
.lg-actions .lg-prev.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.lg-actions .lg-next:hover,
.lg-actions .lg-prev:hover {
  color: #fff;
}
.lg-actions .lg-next {
  right: 40px;
}
.lg-actions .lg-next:before {
  content: url("../../images/apartment-details/next.svg");
  //content: "\e095";
}
.lg-actions .lg-prev {
  left: 40px;
}
.lg-actions .lg-prev:after {
  content: url("../../images/apartment-details/prev.svg");
  //content: "\e094";
}
.lg-outer .lg-thumb-outer {
  display: flex;
  justify-content: center;
  bottom: 0;
  position: absolute;
  width: 100%;
  z-index: 1080;
  max-height: 350px;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1) 0s;
  -moz-transition: -moz-transform 0.25s cubic-bezier(0, 0, 0.25, 1) 0s;
  -o-transition: -o-transform 0.25s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1) 0s;
}
.lg-toolbar {
  background-color: transparent !important;
}
#lg-share,
#lg-zoom-in,
#lg-zoom-out,
#lg-autoplay-button,
#lg-actual-size,
.lg-fullscreen,
.lg-autoplay-button,
.lg-download,
#lg-counter {
  display: none;
}
.lg-outer,
.lg-thumb-outer {
  background-color: transparent !important;
}
.lg-toogle-thumb {
  display: none;
}
