.bg-white {
  width: 100%;
  background-color: #fff;
  position: relative;
  z-index: 999;
}
.nav-position {
  position: relative;
  z-index: 9999;
  background-color: #fff;
}
.nav {
  padding: 16px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 99;
  &:before {
    position: absolute;
    content: "";
    width: 200%;
    left: -430px;
    bottom: 0;
    height: 1px;
    background-color: #eeeef2;
  }
  &__logo {
    display: flex;
    margin-right: 45px;
  }
  &__logo-nav {
    width: 100%;
    display: flex;
  }
  &__menu {
    display: flex;
    align-items: center;
    @media (max-width: 991px) {
      display: none;
    }
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        margin: 0 20px;
        position: relative;
        a {
          text-decoration: none !important;
          transition: 0.3s;
          .arr {
            &:after {
              position: absolute;
              content: url(images/global/arr-nav.svg);
              top: 0;
              bottom: 0;
              right: 0;
              width: 12px;
              margin: auto;
              height: 8px;
              transition: 0.3s;
              opacity: 1;
            }
            &:before {
              position: absolute;
              content: url(images/global/arr-nav-black.svg);
              top: 0;
              bottom: 0;
              right: 0;
              width: 12px;
              margin: auto;
              height: 8px;
              transition: 0.3s;
              opacity: 0;
            }
          }
          &:hover {
            color: #222634;
            text-decoration: none !important;
            .arr {
              &:after {
                opacity: 0;
              }
              &:before {
                opacity: 1;
              }
            }
          }
        }
        &:last-child {
          a {
            padding-right: 27px;
          }
        }
      }
    }
  }
  &__link {
    color: #9ba0b5;
    font-family: $roboto;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.9px;
    line-height: 18px;
    text-transform: uppercase;
    position: relative;
    display: block;
    &.active {
      color: #222634 !important;
      .arr {
        &:before {
          opacity: 1 !important;
        }
        &:after {
          opacity: 0 !important;
        }
      }
      &:before {
        content: "";
        position: absolute;
        width: 24px;
        height: 26px;
        left: -12px;
        z-index: -1;
        background-color: #dfebff;
        top: 0;
        margin: auto;
        bottom: 0;
      }
    }
  }
  &__button {
    display: flex;
    align-items: center;
    @media (max-width: 991px) {
      display: none;
    }
    &--white {
      margin-right: 24px;
    }
  }
  &__mobile-button {
    span {
      display: block;
      width: 25px;
      height: 2px;
      position: relative;
      background: #222634;
      z-index: 1;
      transition: 0.3s;
      &:first-child {
        margin-bottom: 8px;
      }
    }
    &.open-mobile {
      span {
        &:first-child {
          transform: rotate(45deg);
          margin-bottom: 0;
        }
        &:last-child {
          transform: rotate(-45deg);
          transform-origin: 10px 0;
        }
      }
    }
    @media (min-width: 992px) {
      display: none;
    }
  }
}
