.possibility {
  position: relative;
  margin-bottom: -47px;
  @media (max-width: 991px) {
    margin-bottom: 130px;
  }
  &:before {
    position: absolute;
    left: -939px;
    top: 13px;
    z-index: -1;
    content: url("images/home/Path3Copy6.svg");
  }
  &:after {
    overflow: hidden;
    max-height: 1667px;
    position: absolute;
    left: -178px;
    top: -677px;
    z-index: -1;
    content: url("images/home/Path3Copy5.svg");
  }
  &__img {
    margin-bottom: 15px;
    @media (max-width: 991px) {
      margin-right: 30px;
    }
  }
  &__header-title {
    display: block;
    margin-bottom: 73px;
    color: #222634;
    font-size: 42px;
    letter-spacing: -0.44px;
    line-height: 48px;
    @include over-extra;
    @media (max-width: 767px) {
      @include title-h2-767;
    }
  }
  &__all {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    max-width: 345px;
    margin-right: 28px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (max-width: 991px) {
      flex-direction: row;
      margin-right: 30px !important;
      margin-bottom: 30px;
    }
    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }
  &__title {
    color: #222634;
    font-size: 20px;
    letter-spacing: -0.21px;
    line-height: 48px;
    display: block;
    margin-bottom: 0;
    @include over-extra;
    @media (max-width: 575px) {
      font-size: 16px;
      letter-spacing: -0.17px;
      line-height: 48px;
    }
  }
  &__desc {
    color: #666b7c;
    font-family: $roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    @media (max-width: 575px) {
      font-size: 14px;
      line-height: 24px;
    }
  }
}
.dots-center {
  height: 178px;
  position: relative;
  margin: -55px auto 0;
  display: flex;
  justify-content: center;
  img {
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
  }
  @media (max-width: 991px) {
    display: none;
  }
}
