.select-role {
  visibility: hidden;
  transition: 0.3s;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9998;
  height: 100vh;
  @include flex-center;
  @media (max-width: 575px) {
    transition: none;
  }
  &.select-role-active {
    visibility: visible;
    opacity: 1;
  }
  .sign-in__block {
    min-width: 500px;
    min-height: 460px;
    @media (max-width: 480px) {
      min-width: auto;
    }
    @media (max-width: 575px) {
      width: 100%;
      height: 100vh;
    }
  }
  button {
    width: 100%;
    outline: none;
    border: none;
    margin-top: 45px;
    margin-bottom: 65px;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__landlord,
  &__tenant {
    display: flex;
    align-items: center;
  }
  &__desc {
    p {
      color: #222634;
      font-size: 14px;
      line-height: 14px;
      @include over-bold;
    }
    span {
      color: #666b7c;
      font-family: $roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      margin: 25px 0 50px;
    }
  }
  &__input {
    position: absolute;
    opacity: 0;
    z-index: -1;
    & + label {
      position: relative;
      margin-left: 22px;
      cursor: pointer;
      padding: 0;
      transition: 0.3s;
      margin-bottom: 0;
    }
    & + label:before {
      content: url("images/home/radio-def.svg");
      position: absolute;
      display: inline-block;
      top: 4px;
      left: -22px;
    }
    &:checked + label:before {
      content: url("images/home/radio.svg");
    }
  }
  &__input-label {
    color: #222634;
    font-family: $roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    &:first-of-type {
      margin: 40px 0 15px 22px !important;
    }
  }
}
