.skill-box {
  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    @media (max-width: 991px) {
      flex-direction: row;
    }
  }
  &__oval {
    width: 56px;
    height: 56px;
    min-width: 56px;
    border-radius: 50%;
    background-color: #dfebff;
    margin-bottom: 15px;
    @include flex-center;
    @media (max-width: 991px) {
      margin-bottom: 0;
      margin-right: 20px;
    }
  }
  &__text-position {
    display: flex;
    flex-direction: column;
    h4 {
      color: #222634;
      font-size: 20px;
      letter-spacing: -0.21px;
      line-height: 24px;
      display: block;
      margin-bottom: 7px;
      @include over-extra;
      @media (max-width: 575px) {
        font-size: 16px;
        letter-spacing: -0.17px;
        line-height: 48px;
        margin-bottom: 0;
      }
    }
    p {
      color: #666b7c;
      font-family: $roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 32px;
      @media (max-width: 575px) {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
  .start {
    @media (max-width: 991px) {
      flex-direction: column-reverse;
    }
    .col-lg-6 {
      position: relative;
      &:before {
        content: url("images/land-three/dots-3.svg");
        position: absolute;
        left: 35px;
        top: 15px;
        @media (max-width: 991px) {
          display: none;
        }
      }
    }
    &__img {
      margin-left: 60px;
      animation: move-img 3s infinite ease-in-out;
    }
  }
  .center {
    margin-top: -130px;
    @media (max-width: 991px) {
      margin-top: 20px !important;
      margin-bottom: 20px !important;
    }
  }
  .end {
    margin-top: -168px;
    @media (max-width: 991px) {
      flex-direction: column-reverse;
      margin-top: 0 !important;
    }
    .img {
      img {
        margin-left: -60px;
        animation: move-img 3s infinite ease-in-out;
        @media (max-width: 1140px) {
          margin-left: 0;
        }
      }
    }
  }
}
