.tenat {
  background-color: #1b5ec6;
  position: relative;
  &:before {
    position: absolute;
    width: 120%;
    top: -105px;
    left: -200px;
    right: 0;
    z-index: -1;
    content: "";
    background-color: #1b5ec6;
    height: 211px;
    transform: rotate(-5deg);
    @media (max-width: 1100px) {
      width: 170%;
    }
  }
  &:after {
    position: absolute;
    width: 120%;
    bottom: -105px;
    left: -200px;
    right: 0;
    z-index: -1;
    content: "";
    background-color: #1b5ec6;
    height: 211px;
    transform: rotate(-5deg);
    @media (max-width: 1100px) {
      width: 170%;
    }
    @media (max-width: 1100px) {
      bottom: -50px;
    }
  }
  .container {
    position: relative;
    &:before {
      position: absolute;
      content: url("images/home/Path3Copy2.svg");
      right: -1287px;
      top: -1174px;
      height: 1200px;
      overflow: hidden;
      z-index: -2;
    }
    .row {
      @media (max-width: 991px) {
        flex-direction: column-reverse;
      }
    }
  }
  &__block-position {
    display: flex;
    align-items: center;
  }
  &__img-position {
    @media (max-width: 991px) {
      margin-top: -85px !important;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding-top: 30px;
    }
    h3 {
      width: 100%;
      @media (min-width: 992px) {
        display: none !important;
      }
    }
  }
  img {
    width: 114%;
    animation: move-img 3s infinite ease-in-out;
    @media (max-width: 1260px) {
      width: 100%;
    }
    @media (max-width: 991px) {
      width: auto;
      max-height: 500px;
    }
    @media (max-width: 575px) {
      max-height: 350px;
    }
  }
  .question__title {
    display: none;
    &:before {
      position: absolute;
      content: url("images/home/scobki2.svg");
      left: -75px;
      top: -60px;
      animation-name: rotateMy;
      animation-duration: 2s;
      @media (max-width: 1260px) {
        left: 0;
      }
      @media (max-width: 991px) {
        display: none;
      }
    }
  }
  .rotateIn {
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn;
  }

  @keyframes rotateMy {
    from {
      -webkit-transform-origin: center;
      transform-origin: center;
      -webkit-transform: rotate3d(0, 0, 1, -200deg);
      transform: rotate3d(0, 0, 1, -200deg);
      opacity: 0;
    }

    to {
      -webkit-transform-origin: center;
      transform-origin: center;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
}
