{{#each footer}}
    <footer>
        <div class="container">
            <div class="footer">
                <div class="footer__logo">
                    <img src="{{logo}}" alt="logo">
                    <p>{{desc}}</p>
                </div>
                <ul class="footer__nav">
                  {{#each nav}}
                      <li><a class="explore__link" href="{{adress}}">{{link}}</a></li>
                  {{/each}}
                </ul>
            </div>
        </div>
    </footer>
{{/each}}
