
<html lang="en">
<head>
    {{> ../common/head }}
</head>
<body class="error">
{{> ../common/mobile-menu}}
{{> ../common/header-footer/nav }}

{{#each top-page}}
    {{> ../common/top-page }}
{{/each}}
{{> ../common/modal/sign-in}}
{{> ../common/modal/sign-up}}
{{> ../common/modal/check-email}}
{{> ../common/modal/forgot-pass}}
{{> ../common/modal/select-role}}
    <div class="container-box-full error__img-position">
{{#each error}}
        <img src="{{img}}" alt="img">
{{/each}}
    </div>
    <div class="container-box-full error__desc">
        <h3>Ooops!</h3>
        <span>Something went wrong</span>
        <p><a class="error__link second-link" href="#">Go back</a> or head over to <a class="error__link second-link" href="/">Home Page</a> to choose a new direction.</p>
    </div>
</body>
</html>

