<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body class="browsing">
    {{> ../common/header-footer/nav-brows}}
    {{> ../common/modal/sign-in}}
    {{> ../common/modal/sign-up}}
    {{> ../common/modal/check-email}}
    {{> ../common/modal/forgot-pass}}
    {{> ../common/modal/select-role}}
    {{> ../common/modal/send-me}}
    {{> ../common/modal/keep-me}}
    {{> ../common/browsing/filters-menu}}
    <div class="container-box-full">
        <div class="browsing__search-result-position"></div>
        <div class="browsing__search-result">
            <p>15 properties available for rent in Cape Town</p>
            <div class="browsing__closest-filter">
                <a class="browsing__triangle" href="#">Closest to search</a>
                <div class="filters-menu__dropdown browsing__closest">
                    <div class="browsing__form-closest">
                        {{#each browsing-closest}}
                        <input class="browsing__input" id="browsing__input{{id}}" type="checkbox">
                        <label class="browsing__input-label" for="browsing__input{{for}}">{{closest-item}}</label>
                        {{/each}}
                    </div >
                </div>
            </div>
        </div>
        <div class="browsing__tile-position">
            {{> ../common/browsing/apartment-tile}}
        </div>
    </div>
</body>
</html>
