<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body class="collect-rent-online">
{{> ../common/mobile-menu}}
{{> ../common/nav }}

{{#each top-page}}
  {{> ../common/top-page }}
{{/each}}
{{> ../common/sign-in}}
{{> ../common/sign-up}}
{{> ../common/check-email}}
{{> ../common/forgot-pass}}
{{> ../common/select-role}}
<div class="what">
  {{#each title-one}}
    {{> ../partials/title-section }}
  {{/each}}
  {{#each feature-one}}
    {{> ../partials/features }}
  {{/each}}
</div>
<div class="payment">
  {{#each title-two}}
    {{> ../partials/title-section }}
  {{/each}}
  {{#each skill}}
    {{> ../common/skill-box }}
  {{/each}}
</div>
{{#each img-desc}}
  {{> ../common/img-desc }}
{{/each}}
{{#each ready}}
  {{> ../common/ready }}
{{/each}}
{{> ../common/footer }}
</body>
</html>
