<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body class="home">
{{> ../common/mobile-menu}}
{{> ../common/header-footer/nav}}
{{#each search}}
    <div class="search">
        {{> ../common/main-search}}
        {{> ../common/main-form}}
        <div class="search__one wow zoomIn" style="background-image: url('{{bg-one}}')">
            <h2>Find Your <br> New Home</h2>
            <a href="#" class="button--blue search-open">Search listings</a>
            <a href="#" class="button--blue form-open">Learn more</a>
        </div>
        <div class="search__two wow zoomIn" style="background-image: url('{{bg-two}}')">
            <h2>List and Manage Your Property</h2>
            <a href="#" class="button--blue form-open">Learn more</a>
        </div>
    </div>
{{/each}}
{{#each what}}
  {{> ../common/what-box }}
{{/each}}
{{> ../common/modal/sign-in}}
{{> ../common/modal/sign-up}}
{{> ../common/modal/check-email}}
{{> ../common/modal/forgot-pass}}
{{> ../common/modal/select-role}}
{{#each possibility}}
  {{> ../common/possibility }}
{{/each}}
{{#each question}}
    {{> ../common/question }}
{{/each}}
{{#each property}}
    {{> ../common/property }}
{{/each}}
{{#each tenat}}
    {{> ../common/tenat-right }}
{{/each}}
{{#each secure}}
    {{> ../common/secure }}
{{/each}}
{{#each city}}
  {{> ../common/city }}
{{/each}}
{{#each operation}}
  {{> ../common/operation }}
{{/each}}
{{#each ready}}
  {{> ../common/ready }}
{{/each}}
{{> ../common/header-footer/footer }}
</body>
</html>
