<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body class="landlord-three">
{{> ../common/mobile-menu}}
{{> ../common/nav }}
{{#each top-page}}
    {{> ../common/top-page }}
{{/each}}
{{> ../common/sign-in}}
{{> ../common/sign-up}}
{{> ../common/check-email}}
{{> ../common/forgot-pass}}
{{> ../common/select-role}}
{{#each images}}
  {{> ../partials/title-img }}
{{/each}}

{{#each img-desc}}
    {{> ../common/img-desc }}
{{/each}}

{{#each title-one}}
    {{> ../partials/title-section }}
{{/each}}

{{#each feature-one}}
    {{> ../partials/features }}
{{/each}}

{{#each rent}}
    {{> ../common/ready }}
{{/each}}
{{> ../common/footer }}
</body>
</html>
