<html lang="en">
<head>
    {{> ../common/head }}
</head>
<body class="landlord-one">
{{> ../common/nav }}

{{#each top-page}}
    {{> ../common/top-page }}
{{/each}}
{{#each paragraf-one}}
    {{> ../partials/paragraf }}
{{/each}}
{{#each apply}}
    {{> ../common/apply}}
{{/each}}
{{#each ready}}
    {{> ../common/ready }}
{{/each}}
{{> ../common/footer }}
</body>
</html>
