<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body class="landlord-four">
{{> ../common/mobile-menu}}
{{> ../common/nav }}

{{#each top-page}}
  {{> ../common/top-page }}
{{/each}}
{{> ../common/sign-in}}
{{> ../common/sign-up}}
{{> ../common/check-email}}
{{> ../common/forgot-pass}}
{{> ../common/select-role}}
{{#each paragraf-one}}
  {{> ../partials/paragraf }}
{{/each}}
<div class="map">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-3 wow fadeInUp" data-wow-duration="2s">
                <img src="images/land-four/map.png" alt="maps">
            </div>
        </div>
    </div>
</div>
{{#each author}}
    <div class="author">
        <div class="container">
            <div class="row align-content-center author__block-position">
                <div class="col-lg-6">
                    <div class="author__text-box wow bounceInLeft">
                        <h3>{{title}}</h3>
                      {{#each info}}
                          <p>{{text}}</p>
                      {{/each}}
                    </div>
                </div>
                <div class="col-lg-6 img wow bounceInRight">
                    <h3>{{title}}</h3>
                    <img src="{{img}}" alt="img">
                </div>
            </div>
        </div>
    </div>
{{/each}}
{{#each rent}}
  {{> ../common/ready }}
{{/each}}

{{> ../common/footer }}
</body>
</html>
