<html lang="en">
<head>
    {{> ../common/head }}
</head>
<body class="list-property">
{{> ../common/mobile-menu}}
{{> ../common/header-footer/nav }}

{{#each top-page}}
    {{> ../common/top-page }}
{{/each}}
{{> ../common/modal/sign-in}}
{{> ../common/modal/sign-up}}
{{> ../common/modal/check-email}}
{{> ../common/modal/forgot-pass}}
{{> ../common/modal/select-role}}
{{#each paragraf-one}}
    {{> ../partials/paragraf }}
{{/each}}
<div class="circle">
{{#each circle}}
    <div class="circle__position wow fadeInUp" data-wow-duration="2s">
        <img src="{{circle-img}}" alt="img">
    </div>
{{/each}}
</div>
{{#each apply}}
    {{> ../common/apply}}
{{/each}}
<div class="what-land-one">
    {{#each title-one}}
        {{> ../partials/title-section }}
    {{/each}}
    {{#each feature-one}}
        {{> ../partials/features }}
    {{/each}}
</div>
{{#each ready}}
    {{> ../common/ready }}
{{/each}}
{{> ../common/header-footer/footer }}
</body>
</html>
