<html lang="en">
<head>
    {{> ../common/head }}
</head>
<body class="main-tenant">
{{> ../common/mobile-menu}}
{{> ../common/nav }}

{{#each top-page-search}}
    {{> ../common/top-page-search}}
{{/each}}
{{> ../common/sign-in}}
{{> ../common/sign-up}}
<div class="trend-city">
    <div class="container">
        <div class="row trend-city__all-position">
            <div class="trend-city__title wow bounceInLeft">
                <h2>Trending cities in South Africa</h2>
            </div>
            <div class="trend-city__all">
                {{#each country}}
                    <a href="#" class="trend-city__item wow bounceInRight" style="background-image: url('{{img}}')">
                        <strong>{{title}}</strong>
                        <p class="trend-city__par1">{{desc}}</p>
                        <p class="trend-city__par2">Discover all properties</p>
                    </a>
                {{/each}}
            </div>
            <a href="#" class="button--blue trend-city__link wow bounceInUp">Find your Next home</a>
        </div>
    </div>
</div>
{{#each apply}}
    {{> ../common/apply}}
{{/each}}
{{#each image-info}}
    {{> ../partials/image-info }}
{{/each}}
{{#each paragraf}}
    {{> ../partials/paragraf }}
{{/each}}
{{#each skill}}
    {{> ../common/skill-box }}
{{/each}}
<div class="d-protection">
    {{#each paragraf-two}}
        {{> ../partials/paragraf }}
    {{/each}}
    {{#each feature}}
        {{> ../partials/features }}
    {{/each}}
</div>
<div class="explore">
    {{#each paragraf-three}}
        {{> ../partials/paragraf }}
    {{/each}}
    <div class="explore__list">
        <div class="container explore__link-position">
                <ul>
                    {{#each explore-link}}
                    <li class="wow bounceInRight">
                        <a class="explore__link" href="#">{{link-desc}}</a>
                    </li>
                    {{/each}}
                </ul>
        </div>
    </div>
</div>
{{#each ready}}
    {{> ../common/ready}}
{{/each}}
{{> ../common/footer}}
</body>
</html>
