<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body class="maintenance-requests">
{{> ../common/mobile-menu}}
{{> ../common/nav }}

{{#each top-page}}
  {{> ../common/top-page }}
{{/each}}
{{> ../common/sign-in}}
{{> ../common/sign-up}}
{{> ../common/check-email}}
{{> ../common/forgot-pass}}
{{> ../common/select-role}}
<div class="info">
  {{#each images}}
    {{> ../partials/title-img }}
  {{/each}}
</div>

{{#each title-one}}
  {{> ../partials/title-section }}
{{/each}}

{{#each skill}}
  {{> ../common/skill-box }}
{{/each}}

{{#each ready}}
  {{> ../common/ready }}
{{/each}}

{{> ../common/footer }}
</body>
</html>
