<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body class="rental-applications">
{{> ../common/mobile-menu}}
{{> ../common/nav }}

{{#each top-page}}
  {{> ../common/top-page }}
{{/each}}
{{> ../common/sign-in}}
{{> ../common/sign-up}}
{{> ../common/check-email}}
{{> ../common/forgot-pass}}
{{> ../common/select-role}}
{{#each paragraf-one}}
  {{> ../partials/paragraf }}
{{/each}}

{{#each skill}}
  {{> ../common/skill-box }}
{{/each}}

{{#each title-one}}
  {{> ../partials/title-section }}
{{/each}}

{{#each feature-one}}
  {{> ../partials/features }}
{{/each}}

{{#each img-desc}}
  {{> ../common/img-desc }}
{{/each}}

{{#each ready}}
  {{> ../common/ready }}
{{/each}}
{{> ../common/footer }}
</body>
</html>
