<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body>
{{> ../common/nav }}

{{#each top-page}}
  {{> ../common/top-page }}
{{/each}}

{{#each title-one}}
  {{> ../partials/title-section }}
{{/each}}

{{#each paragraf-one}}
  {{> ../partials/paragraf }}
{{/each}}

{{#each skill}}
  {{> ../common/skill-box }}
{{/each}}

{{#each title-one}}
  {{> ../partials/title-section }}
{{/each}}

{{#each feature-one}}
  {{> ../partials/features }}
{{/each}}

{{#each img-desc}}
  {{> ../common/img-desc }}
{{/each}}

{{#each ready}}
  {{> ../common/ready }}
{{/each}}
{{> ../common/footer }}
</body>
</html>
